<div class="card bg-light mt-3" style="max-width: 30rem;">
    <div class="card-header"><b>{{count}} Reviews</b></div>
    <div class="reviews" *ngIf="results?.length>0; else noreviews">
        <div class="card-body" >
            <div class="reviewer">
                <img src="{{oneReview.reviewer.image}}" class="profilepic" alt="Image">
                <div class="card-title">
                    <h6 class="name">{{oneReview.reviewer.first_name}} {{oneReview.reviewer.last_name}}</h6>
                    <small>{{oneReview.created_at| date: "MMMM yyyy"}}</small>
                </div>
            </div>
            <div>
                <p class="card-text">{{oneReview.review }}</p>
            </div>
            <hr>
            <a [routerLink]="['/auth',oneReview.client ,'reviews']" routerLinkActive="active"><button class="btn btn primary " (click)=getMoreReviews()>See All Reviews</button></a>
                    
        </div>
    </div>
</div>
<ng-template #noreviews>
    <p class="text-center">No review yet</p>
</ng-template>