.image-container{
  display: flex;
  justify-content: center;
}
.landvile-logo{
  width: 130px;
  height: 100px;
}
.title{
  text-align: center;
  color: grey;
}
.title h4{
  margin: 60px 0px 20px 0px;
}