a.nav-link.waves-effect.waves-light:hover {
  color: var(--color-primary-light);
}

a.nav-link.waves-effect.waves-light {
  padding: 0.3rem 0;;
  text-decoration: none;
  display: inline-block;
  color: #555;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  outline: none;
}

.navbar-nav > li {
  margin-left: 1.0rem;
}

.navbar-nav ul {
  margin: .4rem 0 0 0;
  padding: 0.7rem;
  box-shadow: .0rem .0rem 3.0rem rgba(127, 137, 161, 0.25);
  background: #fff;
}

.navbar-nav ul li {
  transition: 0.3s;
}

.navbar-nav ul li a {
  padding: 1.0rem;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 1.3rem;
  text-transform: none;
}

.navbar-nav ul li:hover > a {
  color: var(--color-primary-light);
}

.navbar-nav ul ul {
  margin: 0;
}

.dropdown-menu > a {
  float: left;
  text-align: left;
  width: 100%;

  &.eborder-top {
    border-top: .2rem solid var(--color-primary-dark) !important;
  }



  & {
    border-bottom: .1rem solid #EBEBEB !important;
    font-size: 0.9rem;
    list-style: none;
    padding: 0.7rem 1rem !important;
    width: 100%;
    display: inline-block;

    &:hover {
      background-color: #F7F8F9 !important;
      color: #2E2E2E;
      border-bottom: .1rem solid var(--color-primary-dark) !important;

      & i {
        color: var(--color-primary-dark);
      }
    }

    & i {
      font-size: 1rem;
      display: inline-block;
      padding-right: 1.0rem
    }
  }

  & > li {
    & > a {
      color: #797979;
    }
  }
}

.nav .caret {
  border-bottom-color: #A4AABA;
  border-top-color: #A4AABA;
}

ul.top-menu > li > a:hover .caret {
  border-bottom-color: #7498f1;
  border-top-color: #7498f1;
}

.profile-ava img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: .2rem solid var(--color-primary-dark);
  display: inline-block;
}

.profile-ava img.simple {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: .2rem solid rgba(0, 112, 255, 0.4);
  display: inline-block;
}

.username {
  font-size: 0.9rem;
  padding: 0 0.3rem !important;
}


.btn-auth {
  line-height: 18px !important;
  letter-spacing: normal !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  cursor: pointer !important;
  display: inline-block !important;
  padding: 6px 12px !important;
  position: relative !important;
  text-align: center !important;
  width: auto !important;
  color: rgb(255, 255, 255) !important;
  border-radius: 4px !important;
  text-decoration: none !important;
  background: var(--color-primary-dark) !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: var(--color-primary-dark) !important;
  border-image: initial !important;

  &:hover {
    background: transparent !important;
    color: var(--color-secondary-dark) !important;
  }
}


.dropdown-menu {
  top: 100%;
  left: -11rem;
  z-index: 1000;
  min-width: 15rem;
  margin: 1rem 0 0;
  border-radius: 0;
  padding: 0;
}

@media(max-width: 768px) {
  li.nav-item:last-child {
    margin-top: 0.5rem;
  }
}
.profileDropDown {
  float: left;
  text-align: left;
  width: 100%;
  background: var(--color-primary-dark);

  &, &:hover {
    color: #fff;
    border-bottom: none !important;
    text-transform: uppercase;
    background-color: var(--color-primary-dark) !important;
  }

  &:hover > i {
    color: #fff;
  }
}
.dropbtn {
  font-size: 16px;
  border: none;
}

.dropdown-payments{
  position: relative;
  display: inline-block;

  .dropbtn {
    font-size: 16px;
    border: none;
    font-weight: 700;
    padding: 0.3rem 0;
    color: black;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    a:hover {
      background-color: #ddd;
    }
  }
}


.dropdown-payments:hover .dropdown-content {
  display: block;
}
