<div class="card my-5">
    <div class="card-header">
        <h5><b>{{title}}</b></h5>
        <div style="margin-top:-1%;" class="address">
            <b><i class="fa fa-map-marker"></i></b>
            {{state}}, {{city}}
        </div>
        <h5 class="price"><b>{{price | currency:'&#8358;'}}</b></h5>
    </div>
    <div class="card-body">
        <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{imageMain}}" class="d-block w-100" class="img-fluid" alt="Image">
                </div>
                <div class="carousel-item" *ngFor="let image of imageOthers">
                    <img src="{{image}}" class="d-block w-100" class="img-fluid" alt="Image">
                </div>
            </div>
            <a *ngIf="imageOthers.length > 0" class="carousel-control-prev" href="#carouselExampleControls"
                role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a *ngIf="imageOthers.length > 0" class="carousel-control-next" href="#carouselExampleControls"
                role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="container rooms" *ngIf="ifBuilding">
            <div class="row mt-3">
                <div class="col-md-9">
                    <div class="row">
                        <span class="col">
                            <span *ngIf="bedrooms"><b>{{bedrooms}} Bedrooms</b></span>
                            <span *ngIf="!bedrooms"><b>0 Bedrooms</b></span>
                        </span>
                        <span class="col">
                            <span *ngIf="bathrooms"><b>{{bathrooms}} Bathrooms</b></span>
                            <span *ngIf="!bathrooms"><b>0 Bathrooms</b></span>
                        </span>
                        <span class="col">
                            <span *ngIf="garages"> <b>{{garages}} Garages</b></span>
                            <span *ngIf="!garages"> <b>0 Garages </b></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-star"></i> Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
