input {
  display: block;
  border: 1px solid #d4d9e2;
  padding: 20px;
  border-radius: 3px;
  color: #596377;
  font-size: 14px;
}
form {
  margin-top: 30px;
}
button {
  border-radius: 100px;
  padding: 15px 60px;
  color: #fff;
  background: #ed9917;
  outline: none;
}
#back {
  background: white;
  color: #596377;
  border: none;
  text-decoration: underline;
}
.form-group {
  margin-bottom: 0px;
}
.help-block {
  margin-bottom: 0px;
}
.text-danger {
  color: #a94442 !important;
  margin-top: -20px;
}
.disabled {
  background: #e8b360;
}
form {
  margin-top: 15px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
