.bg-light:hover {
  background-color: #f0f0f0 !important;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: none;
}

.card-body {
  padding-bottom: 1.25rem;
  padding-left: 0.5rem;
  padding-top: 0rem;
}

.card {
  margin-bottom: 3rem;
  border: none;
  padding-top: 0.4375rem;
}

.img-fluid {
  max-width: 100%;
  height: 11.875rem;
  padding: 0.5125rem;
}

.col {
  margin-left: 1.875rem;
}

.card-title {
  font-size: large;
  color: #431c53;
  text-decoration: none;
}

.grid-card {
  font-size: smaller;
  color: darkgrey;
  margin-top: -0.7rem;
}

.price {
  color: #ee9619;
}
