// FONT VARIABLES
$font-primary: 'Poppins', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// variables use in card component
$default-black :  rgba(0, 0, 0, 0.678);
$default-white : #ffff;
$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;
$color-grey-dark : #3B3838;
$secondary-black: rgba(0, 0, 0, 0.37);