.fa.fa-picture-o {
    font-size: 25px;
  }
  
  .fa.fa-picture-o:hover {
    color: black;
    cursor: pointer;
  }

.carousel-item {
  width: 100% !important;
}

.img-fluid {
  width: 100% !important;
  height: 24rem;
}
