<footer class="footer-area footer--light">
  <div class="footer-big">
    <!-- start .container -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <div class="footer-widget">
            <img alt="" class="img-fluid" src="assets/img/icons/logo.png">
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-md-4 -->
        <div class="col-md-7 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu footer-menu--1">
              <ul>
                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
              <span>All Rights reserved. &copy; {{ currentDate | date: "yyyy" }} Landville</span>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-md-4 -->

        <div class="col-md-2 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu">
              <p>8, Lasode Cresent, Victoria Island <br> Lagos, Nigeria</p>
              <p>07123456789</p>  <br>
              <p>www.thelandville.com</p>
              <p>info@thelandville.com</p>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-lg-4 -->
      </div>
      <!-- end /.row -->
    </div>
    <!-- end /.container -->
  </div>
  <!-- end /.footer-big -->
</footer>
