<footer class="footer-area footer--light">
  <div class="footer-big">
    <!-- start .container -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <img alt="" class="img-fluid" src="assets/images/ICON/Logo.png">
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-md-4 -->
        <div class="col-md-6 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu footer-menu--1">
              <div class="footer text-center">
                <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-facebook"></i></a>
                <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
              </div><br>
              <span>All Rights reserved. &copy; {{ currentDate | date: "yyyy" }} Landville</span><br>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-md-4 -->

        <div class="col-md-3 col-sm-6">
          <div class="footer-widget">
            <div class="footer-menu">
              <p>8, Lasode Cresent, Victoria Island <br> Lagos, Nigeria</p>
              <p>07123456789</p> <br>
              <p>www.thelandville.com</p>
              <p>info@thelandville.com</p>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-lg-4 -->
      </div>
      <!-- end /.row -->
    </div>
    <!-- end /.container -->
  </div>
  <!-- end /.footer-big -->
</footer>
