<div class="container">
  <div class="row mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-6" >
      <img class="img-fluid align-middle center"  src="../../../assets/images/ICON/Logo.png" alt="landville-logo" width="150" height="95"/>
      <h1 class="text-center">
        Forgot your password?
      </h1>
      <p class="text-center">
        Enter your email address below and we'll get you back on track.
      </p>
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="form-group" [ngClass]="{'has-error': resetForm.get('email').errors && (resetForm.get('email').touched || resetForm.get('email').dirty)}">
          <input formControlName="email" placeholder="email address" class="form-control">
            <span class="text-danger" *ngIf="resetForm.touched && resetForm.get('email').errors && resetForm.get('email').errors.required">
              Email is required
            </span>
            <span class="text-danger" *ngIf="resetForm.get('email').value && resetForm.invalid && resetForm.dirty">
              Enter valid email address
            </span>
          <br/>
          </div>
          <div>
            <button type="submit" [disabled]="disabled" class="center" [ngClass]="{'disabled' : disabled}">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Submit
            </button>
            <button [routerLink]="['/login']" class="center" id="back" >Back to Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
