<div class="card-holder">
	<div class="card shadow-lg mx-auto">
		<ngx-spinner></ngx-spinner>
		<div class="card-header text-center"><h4>Card PIN Validation</h4></div>
		<div class="card-body container">
			<h5 class="text-center">Please Input the OTP sent to your phone:</h5>
			<form>
				<div class="form-group">
					<label >OTP:</label>
					<input type="number" [formControl]="otp" name="otp" class="form-control"
					[ngClass]="{'is-invalid':  (otp.dirty || otp.touched) && otp.invalid}"
					/>
					<span class="invalid-feedback">
						Please input the OTP.
					</span>
				</div>
				<hr>
				<button class="btn" (click)='onBack()'><span class="fa fa-caret-left"></span>	Back</button>
				<button type="submit" (click)='onSubmit()' class="btn" [disabled]="!otp.valid">Submit</button>
			</form>
		</div>
	</div>
</div>
