<main class="text-center py-5">

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="not-found">
                    <h1 class="not-found__title">Oops!</h1>
                    <div class="not-found-description">
                        <h3 class="not-found-description__title">{{code}} - {{codeTitle}}</h3>
                        <p>
                            {{codeDescription1}}
                            <br>
                            {{codeDescription2}}
                        </p>
                        <a class="not-found-description__button" routerLink="{{redirectTo}}">{{buttonName}}</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>
