<div>
  <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
    <div class="profile-form-group">
      <div>
        <label for="firstName">FIRST NAME</label>
      </div>
      <input
        type="text"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            profileForm.get('firstName').touched &&
            profileForm.get('firstName').invalid
        }"
        name="firstName"
        placeholder="First Name"
        formControlName="firstName"
      />
    </div>
    <div class="profile-form-group">
      <label for="lastName">LAST NAME</label>
      <input
        type="text"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            profileForm.get('lastName').touched &&
            profileForm.get('lastName').invalid
        }"
        name="lastName"
        placeholder="Last Name"
        formControlName="lastName"
      />
    </div>

    <div class="profile-form-group">
      <label for="email">EMAIL ADDRESS</label>
      <input
        type="email"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            profileForm.get('emailAddress').touched &&
            profileForm.get('emailAddress').invalid
        }"
        name="email"
        placeholder="Email"
        formControlName="emailAddress"
      />
    </div>
    <div class="profile-form-group row">
      <label for="homeAddress">HOME ADDRESS</label>

      <div class="address-form-group">
        <input
          type="text"
          class="form-control address-input"
          [ngClass]="{
            'is-invalid':
              profileForm.get('street').invalid &&
              (profileForm.get('street').touched ||
                profileForm.get('street').dirty ||
                profileForm.get('street').pristine)
          }"
          name="street"
          formControlName="street"
          placeholder="Street"
        />
        <input
          type="text"
          class="form-control address-input"
          [ngClass]="{
            'is-invalid':
              profileForm.get('city').invalid &&
              (profileForm.get('city').touched ||
                profileForm.get('city').dirty ||
                profileForm.get('city').pristine)
          }"
          name="city"
          formControlName="city"
          placeholder="City"
        />
        <input
          type="text"
          class="form-control address-input mr-0"
          [ngClass]="{
            'is-invalid':
              profileForm.get('state').invalid &&
              (profileForm.get('state').touched ||
                profileForm.get('state').dirty ||
                profileForm.get('state').pristine)
          }"
          name="state"
          formControlName="state"
          placeholder="State"
        />
      </div>
    </div>
    <div class="profile-form-group">
      <label for="phoneNumber">PHONE NUMBER</label>
      <input
        type="text"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            profileForm.get('phone').invalid &&
            (profileForm.get('phone').touched ||
              profileForm.get('phone').dirty ||
              profileForm.get('phone').pristine)
        }"
        [ngStyle]="{
          border: formErrors.errors.phone
            ? '1px solid #dc3545'
            : '1px solid #ced4da',
          'box-shadow': formErrors.errors.phone
            ? '0 0 0 0.2rem rgba(220,53,69,.25)'
            : 'none'
        }"
        name="phoneNumber"
        formControlName="phone"
        placeholder="Phone Number"
        phone
      />
    </div>
    <div class="profile-form-group">
      <label for="employer">EMPLOYER</label>
      <input
        type="text"
        class="form-control"
        name="employer"
        formControlName="employer"
        placeholder="Employer"
      />
    </div>
    <div class="profile-form-group">
      <label for="designation">DESIGNATION</label>
      <input
        type="text"
        class="form-control"
        formControlName="designation"
        name="designation"
        placeholder="Designation"
      />
    </div>
    <div class="profile-form-group">
      <label for="nextKin">NEXT OF KIN</label>
      <input
        type="text"
        class="form-control"
        formControlName="next_of_kin"
        name="nextKin"
        placeholder="Next of Kin"
      />
    </div>
    <div class="form-group profile-form-group">
      <label for="nextKinContact">NEXT OF KIN CONTACT</label>
      <input
        type="text"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            profileForm.get('next_of_kin_contact').invalid &&
            (profileForm.get('next_of_kin_contact').touched ||
              profileForm.get('next_of_kin_contact').dirty)
        }"
        [ngStyle]="{
          border: formErrors.errors.next_of_kin_contact
            ? '1px solid #dc3545'
            : '1px solid #ced4da',
          'box-shadow': formErrors.errors.next_of_kin_contact
            ? '0 0 0 0.2rem rgba(220,53,69,.25)'
            : 'none'
        }"
        formControlName="next_of_kin_contact"
        name="nextKinContact"
        placeholder="Next of Kin Contact"
      />
    </div>
    <div class="profile-form-group">
      <label for="bio">SHORT BIO</label>
      <textarea
        class="form-control"
        formControlName="bio"
        name="bio"
        placeholder="Short Bio"
        rows="10"
      ></textarea>
    </div>
    <div class="profile-submit">
      <button
        class="btn-form-blue-profile"
        type="submit"
        [disabled]="!profileForm.valid"
      >
        Save
      </button>
    </div>
  </form>
</div>
