<div class="sticky-wrapper" id="header-sticky-wrapper" style="height: 4rem;">
  <header id="header">
    <div class="container">

      <div class="pull-left" id="logo">
          <a routerLink="/">
              <img alt="" height="40" src="assets/images/ICON/Logo Icon.png" title="" width="40"/>
          </a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
            <li class="menu-active"><a routerLink="/" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/" routerLinkActive="active">About Us</a></li>
            <li><a routerLink="/" routerLinkActive="active">Services</a></li>
            <li><a routerLink="/" routerLinkActive="active">Properties</a></li>
            <li><a routerLink="/" routerLinkActive="active">Contact</a></li>
            <li *ngIf="!authenticated"><a class="btn-auth" routerLink="/register" routerLinkActive="active">Sign up</a>
            </li>
            <li *ngIf="!authenticated"><a class="btn-auth" routerLink="/login" routerLinkActive="active">Log in </a>
            </li>

            <li *ngIf="authenticated" class="dropdown">
                <a (click)="handleDropdownDisplay($event)" class="dropdown-toggle" data-toggle="dropdown">
              <span class="profile-ava">
                <img [src]="profileImage" alt="" height="34" width="34">
              </span>
                    <span class="username">{{firstName}} {{lastName}}</span>
              <b class="caret"></b>
            </a>
            <ul [ngClass]="{'dropdownopen': dropDownActive}" class="dropdown-menu extended logout">
              <div class="log-arrow-up"></div>
              <li class="eborder-top">
                  <a routerLink="/profile" routerLinkActive="active"><i class="fa fa-user"></i> My Profile</a>
              </li>
                <li><a routerLink="/create-company"><i class="fa fa-plus"></i>Create Company</a></li>
              <li>
                  <a (click)="handleLogout($event)" routerLink="/logout" routerLinkActive="active"><i
                          class="fa fa-sign-out"></i> Log Out</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</div>
