#header {
  padding: 1rem 0;
  height: 4rem;
  transition: all 0.5s;
  z-index: 997;
  background: #fff;
  box-shadow: .0rem .6rem .9rem .0rem rgba(0, 0, 0, 0.06);
}

#header #logo h1 {
  font-size: 4.2rem;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#header #logo h1 a {
  color: #0c2e8a;
  line-height: 1;
  display: inline-block;
}

#header #logo h1 a span {
  color: #50d8af;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 18.0rem;
}

/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
  padding-right: 2.2rem;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: .8rem;
  font-family: FontAwesome, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */

#nav-menu-container {
  float: right;
  margin: 0;
}

/* Nav Meu Styling */

.nav-menu a {
  padding: 0.3rem 0;;
  text-decoration: none;
  display: inline-block;
  color: #555;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  outline: none;
}

.nav-menu li:hover > a,
.nav-menu .menu-active > a {
  color: var(--color-primary-light);
}

.nav-menu > li {
  margin-left: 1.0rem;
}

.nav-menu ul {
  margin: .4rem 0 0 0;
  padding: 1.0rem;
  box-shadow: .0rem .0rem 3.0rem rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 1.0rem;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 1.3rem;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: var(--color-primary-light);
}

.nav-menu ul ul {
  margin: 0;
}

@media (max-width: 768px) {
  #header {
    padding: 20px 0;
    height: 74px;
  }

  #header #logo h1 {
    font-size: 34px;
  }

  #header #logo img {
    max-height: 40px;
  }

  #nav-menu-container {
    display: none;
  }
}


