<div>
  <div class="container">
    <div class="view">
      <i class="fas fa-list-ul" (click)="toggleView()"></i>
      <i class="fas fa-th" (click)="toggleView()"></i>
    </div>
  </div>

  <div *ngIf="!toggle">
    <div class="row">
      <div class="col-md-8">
        <div class="col-md-12" *ngFor="let property of properties">
          <a href="" class="custom-card">
            <div class="card bg-light listview">
              <div class="row no-gutters">
                <div class="col-auto">
                  <img [src]="property.image_main" class="img-fluid2" alt="" />
                </div>
                <div class="col">
                  <div class="card-block px-2">
                    <h4>
                      <b
                        ><a
                          class="card-title"
                          routerLink="/#"
                          routerLinkActive="active"
                          >{{ property.title }}</a
                        ></b
                      >
                    </h4>
                    <p class="card-text list-card">
                      <img
                        alt=""
                        src="assets/img/marker.svg"
                        [style.width.px]="10"
                      />
                      {{ property.address.Street }}, {{ property.address.City }}
                    </p>
                    <div class="priceL">
                      <b>&#8358; {{ property.price }}</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <img
          alt="Card image"
          class="card-img"
          src="assets/img/designs/Design-min.jpg"
        />
      </div>
    </div>
  </div>

  <div *ngIf="toggle">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4" *ngFor="let property of properties">
            <a href="" class="custom-card">
              <div class="card bg-light">
                <img
                  class="card-img-top img-fluid"
                  [src]="property.image_main"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h4>
                    <b
                      ><a
                        class="card-title"
                        routerLink="/#"
                        routerLinkActive="active"
                        >{{ property.title }}</a
                      ></b
                    >
                  </h4>
                  <p class="card-text grid-card">
                    <img
                      alt=""
                      src="assets/img/marker.svg"
                      [style.width.px]="10"
                    />
                    {{ property.address.Street }}, {{ property.address.City }}
                  </p>
                  <div class="price">
                    <b>&#8358; {{ property.price }}</b>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <img
          alt="Card image"
          class="card-img"
          src="assets/img/designs/Design-min.jpg"
        />
      </div>
    </div>
  </div>

  <div class="container">
    <div class="page-buttons">
      <button
        class="btn prev"
        (click)="fetchPrevious()"
        [disabled]="disabledPrevious"
      >
        <img alt="" src="assets/img/arrowL.svg" [style.width.px]="10" />
        Previous
      </button>
      <button class="btn next" (click)="fetchNext()" [disabled]="disabledNext">
        Next <img alt="" src="assets/img/arrowR.svg" [style.width.px]="7" />
      </button>
    </div>
  </div>
  <ngx-spinner></ngx-spinner>
</div>
