.login-form img {
  width: 1rem;
  margin: 14px 14px 10px 10px;
  float: left;
}

.login-form {
  margin: 0rem 0rem 0rem 0rem;
}

.email,
.password {
  border: none;
  height: 1.9em;
  width: 19rem;
  font-size: 20px;
}

.email:focus,
.password:focus {
  outline: none;
}

.input {
  height: 3rem;
  margin: 0 2rem 1rem 2rem;
  border-radius: 4px;
  background-color: white;
}

.login-form button {
  width: 6rem;
  height: 2.5rem;
  border-radius: 20px;
  background-color: #f0a311;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: black;
  margin: 0.5rem 9rem 1rem 1.9rem;
}

.login-form a {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
  margin: 0.5rem 2rem 0rem 1.5rem;
  padding-left: 1px;
  float: right;

}

button:focus {
  outline: 0;
}

.notification {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
  margin: 0.5rem 2rem 0rem 2rem;
}


@media only screen and (max-width: 480px) {
  .login-form {
    transform: scale(0.82);
    padding-left: 223px;
    padding-right: 237px;
  }

  .login-form button {
    margin: 0.5rem 6rem 1rem 1.9rem;
  }

}
