.form-control {
  width: 65%;
  margin-bottom: 20px;
}
.profile-form-group {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
.profile-submit {
  display: flex;
  flex-direction: row-reverse;
}

.address {
  &-form {
    &-group {
      display: flex;
      width: 65%;
    }
  }
  &-input {
    margin-right: 2%;
    width: 32%;
  }
}

@media only screen and (max-width: 480px) {
  .profile-form-group {
    display: block;
  }
  .form-control {
    width: 100%;
  }
  label {
    margin: 0.5rem 0rem;
    font-size: larger;
    font-weight: 600px;
    display: inline-block;
  }
  .address-form-group {
    width: 100%;
  }
  .profile-tab-content {
    font-size: inherit;
    margin-left: auto;
  }
}

@-moz-document url-prefix() {
  @media only screen and (max-width: 480px) {
    .address-form-group {
      overflow-x: auto;
    }
  }
}
