.form-control {
  width: 65%;
  margin-bottom: 20px;
}
.profile-form-group {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
.profile-submit {
  display: flex;
  flex-direction: row-reverse;
}

.address {
  &-form {
    &-group {
      display: flex;
      width: 65%;
    }
  }
  &-input {
    margin-right: 2%;
  }
}
