<form
  #profileForm="ngForm"
  (ngSubmit)="saveProfile(profileForm)"
  *ngIf="!loading"
>
  <div class="profile-form-group">
    <div>
      <label for="firstName" class="col-form-label">FIRST NAME</label>
    </div>
    <input
      type="text"
      class="form-control"
      [ngClass]="{
        'is-invalid': profileFirstName.errors && profileFirstName.touched
      }"
      [(ngModel)]="profile.user.first_name"
      name="firstName"
      #profileFirstName="ngModel"
      placeholder="First Name"
      required
      disabled
    />
  </div>
  <div class="profile-form-group">
    <label for="lastName" class="col-form-label">LAST NAME</label>
    <input
      type="text"
      class="form-control"
      [ngClass]="{
        'is-invalid': profileLastName.errors && profileLastName.touched
      }"
      [(ngModel)]="profile.user.last_name"
      name="lastName"
      #profileLastName="ngModel"
      placeholder="Last Name"
      required
      disabled
    />
  </div>

  <div class="profile-form-group">
    <label for="email" class="col-form-label">EMAIL ADDRESS</label>
    <input
      type="email"
      class="form-control"
      [ngClass]="{
        'is-invalid': userEmail.errors && (userEmail.touched || userEmail.dirty)
      }"
      [(ngModel)]="profile.user.email"
      name="email"
      #userEmail="ngModel"
      placeholder="Email"
      required
      pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
      disabled
    />
  </div>
  <div class="profile-form-group row">
    <label for="homeAddress" class="col-form-label">HOME ADDRESS</label>

    <div class="address-form-group">
      <input
        type="text"
        class="form-control address-input"
        [ngClass]="{
          'is-invalid':
            profileStreet.errors &&
            (profileStreet.touched || profileStreet.dirty)
        }"
        [(ngModel)]="profile.address.Street"
        name="street"
        #profileStreet="ngModel"
        placeholder="Street"
        required
      />
      <input
        type="text"
        class="form-control address-input"
        [ngClass]="{
          'is-invalid':
            profileCity.errors && (profileCity.touched || profileCity.dirty)
        }"
        [(ngModel)]="profile.address.City"
        name="city"
        #profileCity="ngModel"
        placeholder="City"
        required
      />
      <input
        type="text"
        class="form-control address-input mr-0"
        [ngClass]="{
          'is-invalid':
            profileState.errors && (profileState.touched || profileState.dirty)
        }"
        [(ngModel)]="profile.address.State"
        name="state"
        #profileState="ngModel"
        placeholder="State"
        required
      />
    </div>
  </div>
  <div class="profile-form-group">
    <label for="phoneNumber" class="col-form-label">PHONE NUMBER</label>
    <input
      type="text"
      class="form-control"
      [ngClass]="{
        'is-invalid': phone.errors && (phone.touched || phone.dirty)
      }"
      [(ngModel)]="profile.phone"
      name="phoneNumber"
      placeholder="Phone Number"
      #phone="ngModel"
      required
      phone
      minlength="14"
    />
  </div>
  <div class="profile-form-group">
    <label for="employer" class="col-form-label">EMPLOYER</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="profile.employer"
      name="employer"
      placeholder="Employer"
      #userEmployer="ngModel"
    />
  </div>
  <div class="profile-form-group">
    <label for="designation" class="col-form-label">DESIGNATION</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="profile.designation"
      name="designation"
      placeholder="Designation"
    />
  </div>
  <div class="profile-form-group">
    <label for="nextKin" class="col-form-label">NEXT OF KIN</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="profile.next_of_kin"
      name="nextKin"
      placeholder="Next of Kin"
    />
  </div>
  <div class="profile-form-group">
    <label for="nextKinContact" class="col-form-label"
      >NEXT OF KIN CONTACT</label
    >
    <input
      type="text"
      class="form-control"
      [(ngModel)]="profile.next_of_kin_contact"
      name="nextKinContact"
      placeholder="Next of Kin Contact"
    />
  </div>
  <div class="profile-form-group">
    <label for="bio" class="col-form-label">SHORT BIO</label>
    <textarea
      class="form-control"
      [(ngModel)]="profile.bio"
      name="bio"
      placeholder="Short Bio"
      rows="10"
    ></textarea>
  </div>
  <div class="profile-submit">
    <button
      class="btn-form-blue"
      type="submit"
      [disabled]="!profileForm.form.valid"
    >
      Save
    </button>
  </div>
</form>
