.btn-save-purple {
  padding: 5px 30px;
  border: solid purple;
  background-color: purple;
  color: white;
}

.address-display {
  display: block;
  width: 80%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  float: right;
  overflow: hidden;
}
.form-control {
  width: 80%;
  float: right;
}
