// COLOR VARIABLES
:root {
  --color-primary: #F8C302;
  --color-primary-light: #F8C302;
  --color-primary-dark: #EE9619;

  --color-secondary-light: #222141;
  --color-secondary-dark: #201541;

  --color-gray-light-1: #faf9f9;
  --color-grey-light-2: #aaa;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-2-8: #FF3366;

  --color-grey-dark-1: #605D5C;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
}
