<div class="container">
  <div class="row">
    <div class="col-4">
      <app-profile-sidebar></app-profile-sidebar>
    </div>
    <div class="col">
      <div
        class="list-group list-group-horizontal-lg profile-band mb-2"
        id="profileBand"
        role="tablist"
      >
        <a
          class="list-group-item no-border list-group-item-action profile-tab "
          data-toggle="list"
          href="#personal"
          role="tab"
          >Personal Information</a
        >
        <a
          class="list-group-item no-border list-group-item-action profile-tab "
          data-toggle="list"
          href="#payments"
          role="tab"
          >Payment Details</a
        >
        <a
          class="list-group-item no-border list-group-item-action profile-tab "
          data-toggle="list"
          href="#transactions"
          role="tab"
          >Transactions</a
        >
      </div>

      <div class="tab-content">
        <div
          class="tab-pane active profile-tab-content"
          id="personal"
          role="tabpanel"
        >
          <app-personal-information></app-personal-information>
        </div>
        <div class="tab-pane profile-tab-content" id="payments" role="tabpanel">
          Payment Details
        </div>
        <div
          class="tab-pane profile-tab-content"
          id="transactions"
          role="tabpanel"
        >
          Transactions
        </div>
      </div>
    </div>
  </div>
</div>
