.profile-tab.active {
  z-index: 2;
  color: black;
  background-color: #fff9cc;
  border-bottom-color: orange !important;
  border-bottom-style: solid !important;
  border-bottom-right-radius: inherit;
  border-bottom-width: thick !important;
  border-bottom-left-radius: unset !important;
}

.no-border {
  border: none !important;
}

#profileBand {
  margin-bottom: 50px;
  margin-top: 30px;
  text-align: center;
}

.profile {
  &-container {
    position: relative;
    top: -100px;
  }
  &-band {
    height: 100px;
    background-color: #fff9cc;
    &-content {
      width: 100%;
    }
  }
  &-tab {
    background-color: #fff9cc;
    &-active {
      z-index: 2;
      color: black;
      background-color: #fff9cc;
      border-bottom-color: orange !important;
      border-bottom-style: solid !important;
      border-bottom-right-radius: inherit;
      border-bottom-width: thick !important;
      border-bottom-left-radius: unset !important;
    }
    &-content {
      font-size: x-small;
      margin-left: 10%;
    }
  }
}
