<section class="company m-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9 col-sm-6">
        <div class="company-details">
          <h3 class="company-title">Create Company</h3>
          <form>
            <div class="form-row">
              <div class="form-group col-md-6 p-2">
                <label class="text-muted" for="companyName">Company Name</label>
                <input aria-describedby="companyNameHelp" class="form-control" id="companyName"
                       placeholder="Client Company Name"
                       type="email">
              </div>
              <div class="form-group col-md-6 p-2">
                <label class="text-muted" for="phoneNumber">Phone Number</label>
                <input class="form-control" id="phoneNumber" placeholder="Phone Number" type="number">
              </div>
              <div class="form-group col-md-6 p-2">
                <label class="text-muted" for="email">Email</label>
                <input class="form-control" id="email" placeholder="Company Email Address" type="email">
              </div>
            </div>
            <div class="form-group">
              <label class="h5 text-muted" for="address">Company Address</label>
            </div>
            <div class="form-row">
              <div class="form-group  col-md-6 p-2">
                <label class="text-muted" for="state">State</label>
                <input aria-describedby="stateHelp" class="form-control" id="state" placeholder="State" type="text">
              </div>
              <div class="form-group col-md-6 p-2">
                <label class="text-muted" for="city">City</label>
                <input aria-describedby="stateHelp" class="form-control" id="city" placeholder="City" type="text">
              </div>
              <div class="form-group col-md-6 p-2">
                <label class="text-muted" for="street">Street</label>
                <input aria-describedby="stateHelp" class="form-control" id="street" placeholder="Street Address"
                       type="text">
              </div>
            </div>
            <button class="btn-form btn-form-blue float-right m-3" type="submit">Proceed</button>
          </form>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card">
          <img alt="Card image" class="card-img" src="assets/img/designs/Design.jpg">
        </div>
      </div>
    </div>
  </div>
</section>
