<div class="bigger-container">
  <div class="container">
  <div class="details">
    <div class="information">
      <div class="left-section">
        <img src="../../../../assets/images/ICON/register.png" alt="">
          <h2>Registered Successfully</h2>
          <h4>You too can own that property.</h4>
          <h4>You are one of our clients today.</h4>

      </div>
      <div class="right-section">
        <div class="right-details">
          <img src="../../../../assets/images/House_Architecture _1.png" alt="">   
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="lower-container ">
  <div class="container">
    
    <h4 class="h4-class" >One more step! We have sent a confirmation email. The link is valid for 24 hours </h4>
    <p class="confirm">Once confirmed you will be able </p>
    <div class="first-text"> 
        <div>
          <div class="number">01</div>
          <div class="text">Recieve important information</div>
        </div>
        <div>
          <div class="number">02</div>
          <div class="text">Have access to our service </div>
        </div>
        <div>
          <div class="number">03</div>
          <div class="text">Connect with other Landviller</div>
        </div>  
      </div>
      <div class="info">
          <p>Didn't get the email ?</p>
          <h4>Please check your spam folder 
            Or Click here  to resend</h4>
        </div>
  </div>
</div>
