.container {
    background-color: rgb(241, 233, 203);
}
.left-section{
    float: left;
    width: 40%;
    // padding-right: 200px;
 
  }
  .left-section  h2{
    color: #FFA500;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 80%;
  }
  .left-section  h4{
    color:black;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
  }

  .right-details{
    overflow: auto;
    margin: 10px 10px 30px 10px;
  }
  .right-details img{
    width: 100%;
    height: 100%;
  }
  .container-border {
    padding-left: 400px;
 
  }
  .container-border h4{
    font-size: 17px;
    color: grey;
  }
  .container-border p{
    font-size: 17px;
    font-weight: bold;
  }
 
  .first-text > div{
    background: rgba(0,0,0,0.2);
    width:20%;
    float: left;
    margin-right:3%;
    
  }
  .first-text > div > div{
    float:left;
    // margin: 2em;
  } 
  .number{
    width: 30%;
    font-size: 3em;
    margin:0 0 0 14px;
  }
  .text{
   
    margin-top: 1.5em;
    font-size: 15px;
    width: 50%;
    
  }
  .text, .number{
    color: rgba(0,0,0,0.5);
  }
  // .info {
  //   float:left;
  // }