<div class="container">
    <div class="details">
      <div class="information">
        <div class="left-section">
            <h2>Registered Successfully</h2>
            <h4>You too can own that property.</h4>
            <h4>You are one of our clients today.</h4>

</div>
<div class="right-section">
        <div class="right-details">
            <img src="../../../../assets/img/images/House_Architecture _1.png" alt="">
        </div>
</div>
      </div>
    </div>
</div>
<div class="container-border">
  <h4>One more step! We have sent {{email}} a confirmation email. The link is valid for 72 hours </h4>
<p>Once confirmed you will be able </p>
<div class="first-text"> 
    <div>
        <div class="number">01</div>
        <div class="text">Recieve important information</div>
    </div>
    <div>
        <div class="number">02</div>
        <div class="text">Have access to our service </div>
    </div>
    <div>
      <div class="number">03</div>
      <div class="text">Connect with other Landviller</div>
    </div>  
</div>
  <div class="info">
  <p>Didn't get the email ?</p>
  <h4>Please check your spam folder 
    Or Click here to resend</h4>
  </div>
</div>
