.btn {
  &-form {
    border-color: transparent;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    border-radius: 40rem;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-align: center;
    vertical-align: middle;
    padding: 0.7rem 0.75rem;
    line-height: 1.5;

    &-gold {
      font-weight: 400;
      color: white;
      background-color: var(--color-primary);

      &:disabled {
        background-color: var(--color-primary-light);
        border-color: transparent;
      }
    }

    &-blue {
      font-weight: 400;
      color: white;
      background: linear-gradient(
        to right,
        var(--color-secondary-light),
        var(--color-secondary-dark)
      );
      padding: 1rem 2rem;
      &:disabled {
        background-color: var(--color-primary-light);
        border-color: transparent;
      }
      &-profile {
        font-weight: 400;
        color: white;
        background: linear-gradient(
          to right,
          var(--color-secondary-light),
          var(--color-secondary-dark)
        );
        padding: 0.3rem 1.5rem;
        font-size: medium;
        border-radius: 5px;

        &:hover {
          color: var(--color-primary-light);
        }
        &:disabled {
          background: var(--color-grey-light-2);
          border-color: transparent;
          &:hover {
            color: var(--color-gray-light-1);
          }
        }
      }
    }
  }

  &-social {
    border: 4px solid #fff;
    border-radius: 0.4rem;
    transition: all 0.3s ease 0s;
    padding: 0.7rem 4rem;
    line-height: 1.5;
    letter-spacing: 0.05rem;
    text-align: center;
    vertical-align: middle;

    &:hover {
      opacity: 0.7;
    }

    &-facebook {
      background: #3b5998;
      color: white;
    }

    &-google {
      background: #dd4b39;
      color: white;
    }

    &-twitter {
      background: #55acee;
      color: white;
    }
  }
}
