span{
    padding: 4px;
    margin-left:4px;
    color:gray;
}
.col-md-6{
    padding:8px;
}
.card-title{
    margin-left: 10px;
    color: orange;
    font-size:20px;
}
.card{
    border:none !important;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08) !important;
    padding: 15px;
}