<div class="page-header" data-parallax="true">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1 class="h1-font">&nbsp;</h1>
      <h2 class="h2-font">Welcome to LandVille.</h2>
    </div>
    <app-search></app-search>
  </div>
  <div class="container1">
    <div class="motto text-center">
      <i aria-hidden="true" class="fa fa-arrow"></i>
    </div>
  </div>
</div>

<div class="section section-dark text-center">
  <div class="section section1 section-dark text-center">
    <div class="container">
      <br />
      <h1 class="title title1">Trending Properties</h1>
      <hr class="br-line" />
      <br />
      <div class="row">
        <div class="col-md-4" *ngFor="let property of trendingProperties">
          <div class="card card1">
            <img
              alt="Card image cap"
              class="card-img-top image1"
              src="{{ property.image_main }}"
            />
            <div class="card-body">
              <h5 class="card-title">{{ property.title }}</h5>
              <p class="card-text">
                <i aria-hidden="true" class="fa fa-map-marker"></i>
                {{ property.address.Street || property.address.State }},
                {{ property.address.City }}.
              </p>
              <p class="card-text">
                <b aria-hidden="true">&#8358; </b> {{ property.price }}
              </p>
              <a
                [routerLink]="['/properties', property.slug]"
                class="btn btn-warning"
              >
                View
              </a>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>

<div class="main">
  <div class="section text-center">
    <div class="container">
      <br />
      <h1 class="title title1">What We Offer</h1>
      <hr class="br-line" />
      <br />
      <div class="row">
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-album-2"></i>
            </div>
            <div class="description">
              <h5 class="info-title title2">Authentic Properties</h5>
              <p class="p1">
                Only verified properties are available on Landville
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-bulb-63"></i>
            </div>
            <div class="description">
              <h5 class="info-title title2">Great Financial Plan</h5>
              <p class="p1">
                Landville offers a flexible payment plan to help you acquire
                your desired property
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-chart-bar-32"></i>
            </div>
            <div class="description">
              <h5 class="info-title title2">Excellent Customer Relation</h5>
              <p class="p1">
                Landville ensures ou get the best by providing personnel that
                would meaningfully engage you till you acquire your dream
                property
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-8 mr-auto ml-auto">
          <br />
          <a routerLink="/about">
            <button class="btn btn-warning btn-search">More Details</button>
          </a>
        </div>
      </div>
      <br />
    </div>

    <div class="section section-dark text-center section1">
      <div class="container">
        <br />
        <h1 class="title title1">Meet The Team</h1>
        <hr class="br-line" />
        <br />
        <div class="row">
          <div class="col-md-4">
            <div class="card card-profile card-plain team">
              <div class="card card-profile card-plain">
                <div class="card-avatar">
                  <a routerLink="/avatar"
                    ><img alt="profile" src="https://res.cloudinary.com/landville/image/upload/v1565556238/FRONTEND_ASSETS/IMAGES/jbfyktfyzpykzgizabf1.png"
                  /></a>
                </div>
                <div class="card-block">
                  <a routerLink="/">
                    <div class="author p1">
                      <h4 class="card-title lighter">Eyitato Ogumola</h4>
                      <h5 class="card-category bold">CEO</h5>
                    </div>
                  </a>
                  <div class="card-body">
                    <p class="card-description text-justify text1">
                      Teamwork is so important that it is virtually impossible
                      for you to reach the heights of your capabilities or make
                      the money that you want without becoming very good at it.
                      silence isn’t golden, it’s deadly.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-profile card-plain team">
              <div class="card card-profile card-plain">
                <div class="card-avatar">
                  <a routerLink="/avatar"
                    ><img alt="..." src="https://res.cloudinary.com/landville/image/upload/v1565556238/FRONTEND_ASSETS/IMAGES/jbfyktfyzpykzgizabf1.png"
                  /></a>
                </div>
                <div class="card-block">
                  <a routerLink="/">
                    <div class="author p1">
                      <h4 class="card-title lighter">Eyitato Ogumola</h4>
                      <h5 class="card-category bold">CEO</h5>
                    </div>
                  </a>
                  <div class="card-body">
                    <p class="card-description text-justify text1">
                      A group becomes a team when each member is sure enough of
                      himself and his contribution to praise the skill of the
                      others. No one can whistle a symphony. It takes an
                      orchestra to play it.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-profile card-plain team">
              <div class="card card-profile card-plain">
                <div class="card-avatar">
                  <a routerLink="/"
                    ><img alt="profile" src="https://res.cloudinary.com/landville/image/upload/v1565556238/FRONTEND_ASSETS/IMAGES/jbfyktfyzpykzgizabf1.png"
                  /></a>
                </div>
                <div class="card-block">
                  <a routerLink="/">
                    <div class="author p1">
                      <h4 class="card-title lighter">Eyitato Ogumola</h4>
                      <h5 class="card-category bold">CEO</h5>
                    </div>
                  </a>
                  <div class="card-body">
                    <p class="card-description text-justify text1">
                      The strength of the team is each individual member. The
                      strength of each member is the team. If you can laugh
                      together, you can work together, silence isn’t golden,
                      it’s deadly.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
      </div>
    </div>

    <br />

    <div class="section landing-section">
      <div class="section section-dark text-center">
        <div class="container">
          <h1 class="text-center title1">Talk To Us</h1>
          <hr class="br-line" />
          <br />

          <div class="col-md-8 mr-auto ml-auto">
            <form
              action="mailto:sample@email.com?subject=Website Feedback"
              class="contact-form"
              enctype="text/plain"
              method="POST"
            >
              <div class="row">
                <div class="col-md-6">
                  <div class="input-group">
                    <input
                      class="form-control"
                      placeholder="Name"
                      type="text"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <input
                      class="form-control"
                      placeholder="Email"
                      type="email"
                    />
                  </div>
                </div>
                <br />
              </div>
              <textarea
                class="form-control"
                placeholder="Tell us your thoughts and feelings..."
                rows="4"
              ></textarea>
              <div class="row">
                <div class="col-md-7 ml-auto">
                  <br />
                  <button class="btn btn-warning" type="submit">
                    Send
                  </button>
                </div>
              </div>
            </form>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
