.container1 {
  margin-top: 10%;
  color: white;
}

.section1 {
  background-color: #e7e8ed;
}

.team {
  background-color: transparent;
  border-color: transparent;
}

.title1 {
  color: black;
  font-weight: lighter;
  font-size: 2.8rem;
}

.title2 {
  font-weight: bold;
  color: black;
}

.bold {
  font-weight: bold;
}

.lighter {
  font-weight: lighter;
}

.text1 {
  font-weight: lighter;
  color: black;
}

.card1 {
  width: 100%;
}

.p1 {
  color: black;
}

.image1 {
  width: 100%;
}

.btn {
  width: 8rem;
  border-radius: 0;
  margin-top: 1rem;
  font-weight: 500;
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.card-text {
  margin: 0 !important;
  margin-bottom: 0rem !important;
}

img {
  width: 10rem;
  height: 10rem;
  padding: 0.5rem;
  object-fit: cover;
}

.navbar {
  padding-top: 2rem;
  padding-left: 11%;
  padding-right: 11%;
}

.h1,
h1 {
  font-size: 4rem;
  color: whitesmoke;
}

.logo {
  width: 3rem;
  height: 3rem;
}

.h1-font {
  font-weight: lighter;
}

.h2-font {
  font-weight: lighter;
  color: white;
  font-size: 2rem;
}

.btn-search {
  font-weight: 500;
}

.page-header {
  background-image: url('https://res.cloudinary.com/landville/image/upload/v1565555635/FRONTEND_ASSETS/IMAGES/efi5u3qxaeonjchrkutz.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

a {
  color: whitesmoke;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  opacity: 0.7;
  text-decoration: none;
  background-color: transparent;
}

hr.br-line {
  background: linear-gradient(
    to right,
    var(--color-primary) 25%,
    var(--color-primary-dark) 75%
  );
  padding: 0.5px;
  margin-left: 35%;
  margin-right: 35%;
  width: 30%;
}

.card {
  background-color: whitesmoke;
}

.col-md-4 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}

.col-md-5 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}

.col-md-6 {
  padding-bottom: 0.5rem;
}

.col-md-7 {
  padding-right: 3rem;
  padding-left: 3rem;
  margin: auto;
}

.dropbtn {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 45rem;
  cursor: pointer;
  width: 160px;
}
.dropdown {
  position: relative;
  display: inline-block;
  &:hover {
    .dropdown-content {
      display: block;
    }
  }
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  a {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    &:hover {
      background-color: #f1f1f1;
    }
  }
}
