.logo img{
    width: 120px;
    margin: 1rem 10rem 1rem 13rem;
  }
  
  .logo p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    font-weight: lighter;
    margin: 1px 10rem 1rem 13.5rem;
  }

  @media only screen and (max-width: 480px) {
    .logo {
      padding-top: 139px;
    }
    }
  