<div class="card bg-light mt-3" style="max-width: 30rem;">
    <div class="card-header"><b>{{count}} Reviews</b></div>
    <div class="card-body" *ngFor="let review of results">
        <div class="reviewer">
            <img src="../../../../assets/img/House Architecture 4.jpg" class="d-block w-100 img-fluid" alt="Image">
            <div class="card-title">
                <h6 class="name">{{review.reviewer.first_name}} {{review.reviewer.last_name}}</h6>
                <small>{{review.created_at| date: "MMMM yyyy"}}</small>
            </div>
        </div>
        
        <div>
            <p class="card-text">{{review.review | words :15}}<a href="#" *ngIf="expression">Read More</a></p>
        </div>
        <hr>

    </div>
</div>
