.card-title {
    margin-bottom: 0.1rem;
    padding-left: 100px;
}
.card-text {
    padding-top: 12px;
}
.img-fluid {
    max-width: 20%;
    border-radius: 50%;
    height: 20%;
    float: left;
}
small, .small{
    font-weight: 100;
}
.card-body {
    font-weight: 100;
    // padding-top: inherit;
    padding: 0.75em;
    
}
.card{
    border-color: transparent;
}
h6 {
    margin-bottom: auto;
}
