<div class="parent">
    <img src="../../../assets/Logo.png" alt="landville-logo" width="150" height="95">
    <h1>Reset your password</h1>
    <p>Please choose a new password to sign in.</p>
    <span *ngIf="successMessage" class="text-success">Your password has been reset. </span> 
    <span *ngIf="tokenError" class="text-danger">Your session has expired, Please restart the process.</span> 
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

        <div class="form-group" [ngClass]="{'has-error': formGroup.get('newPassword').errors &&
        (formGroup.get('newPassword').touched || formGroup.get('newPassword').dirty)}">
        <input formControlName="newPassword" placeholder="Enter new password"
                class="form-control" type="password">
        <span class="help-block" *ngIf="formGroup.get('newPassword').errors &&
        (formGroup.get('newPassword').touched || formGroup.get('newPassword').dirty)">
            <span *ngIf="formGroup.get('newPassword').errors && formGroup.get('newPassword').errors.required">
                Password is required
        </span>
        <span *ngIf="formGroup.get('newPassword').errors && formGroup.get('newPassword').errors.minlength">
                Password should be at least 6 characters
        </span>
    </span><br/>
        </div>

        <div class="form-group" [ngClass]="{'has-error': passwordError}">
        <input formControlName="confirmPassword" placeholder="Confirm new password" 
                class="form-control" type="password"><br>
        <span  *ngIf="passwordError" >
                <p class="text-danger">There is a password mismatch</p> 
        </span>
        </div>

        <button type="submit" [disabled]="disabled" [ngClass]="{'disabled' : disabled}">Change password</button>
    </form>
    <a href="#">Back to sign</a>
  </div>
