<div class="container" >
  <div class="row mt-5" >
    <div class="col-md-3" ></div >
    <div class="col-md-6" >
      
      <img alt="landville-logo" class="img-fluid align-middle center" height="95" src="assets/img/ICON/Logo.png"
           width="150" />
      <h1 class="text-center" >Reset your password</h1 >
      <p class="text-center" >Please choose a new password to sign in.</p >
      <form (ngSubmit)="onSubmit()" [formGroup]="enterPasswordForm" >
        
        <div [ngClass]="{'has-error': enterPasswordForm.get('newPassword').errors &&
        (enterPasswordForm.get('newPassword').touched || enterPasswordForm.get('newPassword').dirty)}"
             class="form-group" >
          <input class="form-control" formControlName="newPassword" placeholder="Enter new password" type="password" >
          <span *ngIf="enterPasswordForm.get('newPassword').errors &&
        (enterPasswordForm.get('newPassword').touched || enterPasswordForm.get('newPassword').dirty)"
                class="help-block" >
            <span
              *ngIf="enterPasswordForm.get('newPassword').errors && enterPasswordForm.get('newPassword').errors.required"
              class="text-danger" >
              Password is required
            </span >
            <span
              *ngIf="enterPasswordForm.get('newPassword').errors && enterPasswordForm.get('newPassword').errors.minlength"
              class="text-danger" >
              Password should be at least 6 characters
            </span >
          </span ><br />
        </div >
        <div [ngClass]="{'has-error': passwordError}" class="form-group" >
          <input class="form-control" formControlName="confirmPassword" placeholder="Confirm new password"
                 type="password" ><br >
          
          <p *ngIf="passwordError" class="text-danger" >There is a password mismatch</p >
        </div >
        <div >
          <button [disabled]="disabled" [ngClass]="{'disabled' : disabled}" class="center" type="submit" >
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1" ></span >
            Submit
          </button >
          <button [routerLink]="['/login']" class="center" id="back" >Back to Login</button >
        </div >
      </form >
    </div >
  </div >
</div >
