<div>
    <img src="../../../assets/Logo.png" alt="landville-logo" width="150" height="95">
    <h1>Reset your password</h1>
    <p>Please choose a new password to sign in.</p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <input formControlName="newPassword" placeholder="Enter new password" class="form-control" type="password"><br>
        <input formControlName="confirmPassword" placeholder="Confirm new password" class="form-control" type="password"><br>
        <button type="submit">Change password</button>
    </form>
  </div>
