.big-container {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  grid-template-columns: 1fr 1fr;
  margin: 10em;
  border-radius: 16px;
  background: white;
  height: 33.7em;
  width: 56em;
  box-shadow: -5px 5px 20px 3px #bdbaba;
  padding-left: -3px;
}

.login-slider {
  border-radius: 16px 0 0 16px
}

.login-section {
  border-radius: 0 16px 16px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/img/House Architecture 4.jpg");
  background-size: 50em;
  background-position: center;
  background-clip: border-box;
  width: 110%;

}

img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  opacity: 0.3;

}

@media screen and (max-width: 1024px) {
  img.bg {
    left: 50%;
    margin-left: -512px;
  }
}


@media (min-width: 600px) {
  p {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 480px) {
  .big-container {
    display: flex;
    width: 104%;
    height: 32em;

  }

  .container {
    background-image: none;
    margin: 0em;
    height: 38em;
    position: fixed;
    padding-left: 2px;
    background-repeat: no-repeat;
  }

  img.bg {
    display: none;
  }

  .login-section {
    width: 100%;
    border-radius: 0 4px 2px 0;
    height: 865px;
    background-size: cover;
  }
}


@media only screen and (max-width: 480px) {
  .big-container {
    display: flex;
    width: 104%;
    height: 32em;
  }
}

<<<<<<< HEAD
@media only screen and (max-width: 790px) {
=======
<<<<<<< HEAD @media only screen and (max-width: 790px) {
>>>>>>> ft(terms): Enable users to activate terms of use on registration
  .container {
    display: -webkit-box;
    padding-left: -15px;
    padding-right: 63px;
  }
}

<<<<<<< HEAD

.social {
  margin-left: 30px !important;
  color: white;
}
=======
=======.social {
  margin-left: 30px !important;
  color: white;
}

>>>>>>>ft(terms): Enable users to activate terms of use on registration
>>>>>>> ft(terms): Enable users to activate terms of use on registration
