<p class="text-center mt-3" >Or</p >
<div class="row" >
  <div class="col" >
    <div (click)="signInWithFB()" class="fb-login-button facebook mt-1" data-auto-logout-link="false"
         data-button-type="login_with"
         data-size="large" data-use-continue-as="false" data-width="" ></div >
  </div >
  <div class="col" ><img (click)="signInWithGoogle()" alt=""
                         class="google" src="../../../assets/btn_google_signin_dark_normal_web.png" srcset="" ></div >
</div >
<ngx-spinner ></ngx-spinner >
