<div class="big-container" >
  <div class="container" >
    <img alt="bckgound" class="bg" src="assets/img/House Architecture 4.jpg" />
    <app-login-slider ></app-login-slider >
    <div class='login-section border' >
      <!-- Header-->
      <div class='logo' >
        <img src="assets/img/ICON/Logo 02.png" />
        <p >Welcome!</p >
      </div >
  
      <app-login-form ></app-login-form >
      <div class="social" >
        <!--        Social Auth-->
        <app-social-login ></app-social-login >
      </div >
    </div >
  </div >
</div >
