<section class="d-none d-lg-block" id="topbar">
  <div class="container clearfix">
    <div class="contact-info float-left">
      <i class="fa fa-envelope-o"></i> <a href="mailto:contact@example.com">contact@landville.com</a>
      <i class="fa fa-phone"></i> +234 5678 91011 12
    </div>
    <div class="social-links float-right">
      <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
      <a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a>
      <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
      <a class="google-plus" href="#"><i class="fab fa-google-plus-g"></i></a>
      <a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>
</section>
