.title {
    font-size: x-large;
}
.text {
    padding-top: 20px;
    font-weight: 300;
}
small, .small{
    font-weight: 100;
}
.body {
    font-weight: 10;
    padding: 0.25em;
    margin-left: 4rem;
    
}
.profilepic{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    float: left;
}
h6 {
    margin-bottom: auto;
}
