<div class="container reviews">
    <div class="row">
        <div class=" mt-3 col-md-8" style="max-width: 30rem;">

            <div class="reviews" *ngIf="results?.length>0 else noreviews">
                <hr>
                <div class="text-center title"><b>{{count}} Reviews</b></div>
                <hr>
                <div class="mt-3" *ngFor="let review of results">
                    <div class="reviewer">
                        <img src={{review.reviewer.image}} class="profilepic" alt="Image">
                        <div class="body">
                            <h6 class="name">{{review.reviewer.first_name}} {{review.reviewer.last_name}}</h6>
                            <small>{{review.created_at| date: "MMMM yyyy"}}</small>
                        </div>
                    </div>
                    <div>
                        <p class="text">{{review.review}}<a href="#" *ngIf="expression">Read More</a></p>
                    </div>
                    <hr>
                </div>
                <div class="container">
                    <button class="" (click)="fetchPrev()" [disabled]="disabledPrev">Prev</button>
                    <button (click)="fetchNext()" [disabled]="disabledNext">next</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
        <ng-template #noreviews>
            <hr>
            <div class="text-center"><b>Reviews</b></div>
            <hr>
            <p class="text-center">No review yet</p>
        </ng-template>
</div>