<section class="company m-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9 col-sm-6">
        <div class="company-details">
          <h3 class="company-title">Add Property</h3>
          <form [formGroup]="addPropertyForm" autocomplete="off" (onSubmit)="addNewProperty(addPropertyForm.value)" enctype="multipart/form-data">

            {{addPropertyForm.value | json}}
            <div class="md-form">
              <div class="form-row">
                <div class="form-group col-md-6 p-2">
                  <label class="text-muted" for="propertyTitle">Title</label>
                  <input class="form-control" formControlName="propertyTitle" id="propertyTitle" placeholder="Title"
                    type="text">
                  <div
                    *ngIf="addPropertyForm.get('propertyTitle').touched && addPropertyForm.get('propertyTitle').errors && addPropertyForm.get('propertyTitle').errors?.required ">
                    Property Title is required.
                  </div>
                  <div *ngIf="addPropertyForm.get('propertyTitle').touched && addPropertyForm.get('propertyTitle').errors 
                    && addPropertyForm.get('propertyTitle').errors?.minlength ">
                    Property should be atleast 5 characters long
                  </div>
                </div>
                <div class="form-group col-md-6 p-2">
                  <label class="text-muted" for="description">Description</label>
                  <input class="form-control" formControlName="description" id="description" placeholder="Description"
                    type="text">
                  <div *ngIf="addPropertyForm.get('description').touched && addPropertyForm.get('description').errors 
                    && addPropertyForm.get('description').errors?.required ">
                    Property Description is required.
                  </div>
                  <div *ngIf="addPropertyForm.get('description').touched && addPropertyForm.get('description').errors 
                    && addPropertyForm.get('description').errors?.minlength ">
                    Property Description should be atleast 3 characters long
                  </div>
                </div>
                <div class="form-group col-md-6 p-2">
                  <label class="text-muted" for="price">Price</label>
                  <input class="form-control" formControlName="price" id="price" placeholder="price" type="number">
                  <div *ngIf="addPropertyForm.get('price').touched && addPropertyForm.get('price').errors 
                    && addPropertyForm.get('price').errors?.required ">
                    Property Price is required.
                  </div>
                  <div *ngIf="addPropertyForm.get('price').touched && addPropertyForm.get('price').errors 
                    && addPropertyForm.get('price').errors?.maxLen">
                    Property Price should be atmost 14 numbers
                  </div>
                </div>
                <div class="form-group col-md-6 p-2">
                  <label class="text-muted" for="lot_size">Lot size</label>
                  <input class="form-control" formControlName="lot_size" id="lot_size" placeholder="Lot size"
                    type="number">
                  <div *ngIf="addPropertyForm.get('lot_size').touched && addPropertyForm.get('lot_size').errors 
                      && addPropertyForm.get('lot_size').errors?.required ">
                    Lot size is required.
                  </div>
                  <div *ngIf="addPropertyForm.get('lot_size').touched && addPropertyForm.get('lot_size').errors 
                    && addPropertyForm.get('lot_size').errors?.maxLen ">
                    Lot size should be atmost 14 chars Long
                  </div>
                </div>
                <div class="form-group col-md-6 p-2">

                  <label class="text-muted" for="property_type">Property Type</label>
                  <input class="form-control" formControlName="property_type"
                    (blur)="changedTo(addPropertyForm.get('property_type').value)" id="property_type" type="radio"
                    value="B">Building
                  <input class="form-control" formControlName="property_type"
                    (blur)="changedTo(addPropertyForm.get('property_type').value)" id="property_type" type="radio"
                    value="L"> Lot

                  <div *ngIf="addPropertyForm.get('property_type').touched && addPropertyForm.get('property_type').errors 
                    && addPropertyForm.get('property_type').errors?.required ">
                    Property Type is required.
                  </div>
                  <div *ngIf="addPropertyForm.get('property_type').touched && addPropertyForm.get('property_type').errors 
                    && addPropertyForm.get('property_type').errors?.maxlength ">
                    Property Type should be atleast
                  </div>
                </div>
                <div class="form-group col-md-6 p-2">
                  <label class="text-muted" for="purchase_plan">Purchase Plan</label>
                  <input class="form-control" formControlName="purchase_plan"
                    (blur)="changedTo(addPropertyForm.get('purchase_plan').value)" id="purchase_plan" type="radio"
                    value="I">Installments
                  <input class="form-control" formControlName="purchase_plan"
                    (blur)="changedTo(addPropertyForm.get('purchase_plan').value)" id="purchase_plan" type="radio"
                    value="F">Full Payment
                  <!-- <input class="form-control" formControlName="purchase_plan" id="purchase_plan"
                    placeholder="Purchase Plan" type="text"> -->
                  <div *ngIf="addPropertyForm.get('purchase_plan').touched && addPropertyForm.get('purchase_plan').errors 
                    && addPropertyForm.get('purchase_plan').errors?.required ">
                    Purchase Plan is required.
                  </div>
                  <div *ngIf="addPropertyForm.get('purchase_plan').touched && addPropertyForm.get('purchase_plan').errors 
                    && addPropertyForm.get('purchase_plan').errors?.maxlength ">
                    Purchase Plan should be only one character.
                  </div>
                </div>

              </div>
              <div class="form-group">
                <label class="h5 text-muted">Address</label>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 p-2">
                  <label for="state">State</label>
                  <input class="form-control" formControlName="state" id="state" placeholder="State" type="text">
                  <div *ngIf="addPropertyForm.get('state').touched && addPropertyForm.get('state').errors 
                    && addPropertyForm.get('state').errors?.required ">
                    State is required.
                  </div>
                  <div *ngIf="addPropertyForm.get('state').touched && addPropertyForm.get('state').errors 
                    && addPropertyForm.get('state').errors?.minlength ">
                    State should be atleast 3 characters long.
                  </div>
                </div>
                <div class="form-group col-md-6 p-2">
                  <label class="text-muted" for="street">Street</label>
                  <input class="form-control" formControlName="street" id="street" placeholder="Street" type="text">
                  <div *ngIf="addPropertyForm.get('street').touched && addPropertyForm.get('street').errors 
                    && addPropertyForm.get('street').errors?.required ">
                    Street is required.
                  </div>
                  <div *ngIf="addPropertyForm.get('street').touched && addPropertyForm.get('street').errors 
                    && addPropertyForm.get('street').errors?.minlength ">
                    Street should be atleast 3 characters long.
                  </div>
                </div>
                <div class="form-group col-md-6 p-2">
                  <label class="text-muted" for="city">City</label>
                  <input class="form-control" formControlName="city" id="city" placeholder="City" type="text">
                  <div *ngIf="addPropertyForm.get('city').touched && addPropertyForm.get('city').errors 
                    && addPropertyForm.get('city').errors?.required ">
                    City is required.
                  </div>
                  <div *ngIf="addPropertyForm.get('city').touched && addPropertyForm.get('city').errors 
                    && addPropertyForm.get('city').errors?.minlength ">
                    City should be atleast 3 characters long.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="h5 text-muted">Coordinates</label>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 p-2">
                  <label ffor="latitude">Latitude</label>
                  <input class="form-control" formControlName="latitude" id="latitude" placeholder="Latitude"
                    type="number">
                  <div *ngIf="addPropertyForm.get('latitude').touched && addPropertyForm.get('latitude').errors 
                    && addPropertyForm.get('latitude').errors?.required ">
                    Latitude is required.
                  </div>
                </div>
                <div class="form-group col-md-6 p-2">
                  <label class="text-muted" for="longitude">Longitude</label>
                  <input class="form-control" formControlName="longitude" id="longitude"
                    placeholder="Coordinates Longitude" type="number">
                  <div *ngIf="addPropertyForm.get('longitude').touched && addPropertyForm.get('longitude').errors 
                    && addPropertyForm.get('longitude').errors?.required ">
                    Longitude is required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="h5 text-muted">Images/Video</label>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6  p-2">

                  <!-- Custom bootstrap upload file-->
                  <label for="fileUpload" class="file-upload btn btn-primary btn-block rounded-pill shadow"><i
                      class="fa fa-upload mr-2"></i>Browse for file ...
                    <input id="fileUpload" type="file" formControlName="image_main">
                  </label>
                </div>
                <div class="form-group col-md-6  p-2">
                  <label for="fileUpload" class="file-upload btn btn-primary btn-block rounded-pill shadow">
                    <i class="fa fa-upload mr-2"></i>Add Video
                    <input id="video" formControlName="video" type="file" accept="video/*">
                  </label>
                </div>
                <div class="form-group col-md-6 p-2">
                  <label for="fileUpload" class="file-upload btn btn-primary btn-block rounded-pill shadow">
                    <i class="fa fa-upload mr-2"></i>Add other images
                    <input id="otherImages" formControlName="image_others" type="file" multiple>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="h5 text-muted">Rooms</label>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 p-2">
                  <label class="text-muted" for="bedrooms">Bedrooms</label>
                  <input class="form-control" formControlName="bedrooms" id="bedrooms" placeholder="Bedrooms"
                    type="number">
                  <div *ngIf="addPropertyForm.get('bedrooms').touched && addPropertyForm.get('bedrooms').errors 
                    && addPropertyForm.get('bedrooms').errors?.required">
                    Number of bedrooms is required.
                  </div>
                  <div *ngIf="addPropertyForm.get('bedrooms').touched && addPropertyForm.get('bedrooms').errors 
                    && addPropertyForm.get('bedrooms').errors?.max">
                    Number of bedrooms should be atmost 500 rooms.
                  </div>
                </div>
                <div class="form-group col-md-6 p-2">
                  <label class="text-muted" for="bathrooms">Bathrooms</label>
                  <input class="form-control" formControlName="bathrooms" id="bathrooms" placeholder="Bathrooms"
                    type="number">
                  <div *ngIf="addPropertyForm.get('bathrooms').touched && addPropertyForm.get('bathrooms').errors 
                    && addPropertyForm.get('bathrooms').errors?.required ">
                    Number of bathrooms is required.
                  </div>
                  <div *ngIf="addPropertyForm.get('bathrooms').touched && addPropertyForm.get('bathrooms').errors 
                    && addPropertyForm.get('bathrooms').errors?.maxlength ">
                    Number of bathrooms should be atleast 3 characters long.
                  </div>
                </div>
                <div class="form-group col-md-6 p-2">
                  <label class="text-muted" for="garages">Garages</label>
                  <input class="form-control" formControlName="garages" id="garages" placeholder="Garages"
                    type="number">
                  <div *ngIf="addPropertyForm.get('garages').touched && addPropertyForm.get('garages').errors 
                    && addPropertyForm.get('garages').errors?.required ">
                    Number of garages is required.
                  </div>
                  <div *ngIf="addPropertyForm.get('garages').touched && addPropertyForm.get('garages').errors 
                    && addPropertyForm.get('garages').errors?.maxlength ">
                    Number of garages should be atleast 3 characters long.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="submit" (click)="addNewProperty(addPropertyForm.value)" value=" Add Property"
                class="btn btn-primary btn-form btn-form-blue float-right" />
              <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->

            </div>
            <!-- </div> -->
          </form>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card">
          <img alt="Card image" class="card-img" src="assets/img/designs/Design.jpg">
        </div>
      </div>
    </div>
  </div>
</section>
