<section class="company m-5" >
  <div class="container-fluid" >
    <div class="row" >
      <div class="col-md-9 col-sm-6" >
        <div class="company-details" >
          <h3 class="company-title" >Create Company</h3 >
          <form (ngSubmit)="onSubmitCompanyDetails(companyDetailForm)" [formGroup]="companyDetailForm" >
            <div class="form-row" >
              <div class="form-group col-md-6 p-2" >
                <label class="text-muted" for="companyName" >Company Name</label >
                <input
                  [ngClass]="{
                    'is-invalid': f.companyName.touched && f.companyName.invalid,
                    'is-valid': f.companyName.touched && f.companyName.valid
                  }"
                  class="form-control"
                  formControlName="companyName"
                  id="companyName"
                  placeholder="Client Company Name"
                  type="text"
                >
                <div *ngIf="f.companyName.errors" class="invalid-feedback" >
                  <div *ngIf="f.companyName.errors.required" >
                    {{ validationMessages.companyName[0].message}}
                  </div >
                </div >
              </div >
              <div class="form-group col-md-6 p-2" >
                <label class="text-muted" for="email" >Email</label >
                <input
                  [ngClass]="{
                    'is-invalid': f.email.touched && f.email.invalid,
                    'is-valid': f.email.touched && f.email.valid
                  }"
                  class="form-control"
                  formControlName="email"
                  id="email"
                  placeholder="Company Email Address"
                  type="email"
                >
                <div *ngIf="f.email.errors" class="invalid-feedback" >
                  <div *ngIf="f.email.errors.required" >
                    {{ validationMessages.email[0].message}}
                  </div >
                  <div *ngIf="f.email.errors.email" >
                    {{ validationMessages.email[1].message}}
                  </div >
                </div >
              </div >
              <div class="form-group col-md-6  p-2" >
                <label for="phone" >Phone</label >
                <input
                  [ngClass]="{
                    'is-invalid': f.phone.touched && f.phone.invalid,
                    'is-valid': f.phone.touched && f.phone.valid
                  }"
                  class="form-control"
                  formControlName="phone"
                  id="phone"
                  placeholder="Phone"
                  type="tel"
                >
                <div *ngIf="f.phone.errors" class="invalid-feedback" >
                  <div *ngIf="f.phone.errors.required" >
                    {{ validationMessages.phone[0].message}}
                  </div >
                  <div *ngIf="f.phone.errors.minlength" >
                    {{ validationMessages.phone[1].message}}
                  </div >
                </div >
              </div >
            </div >
            
            <div class="form-group" >
              <label class="h5 text-muted" >Company Address</label >
            </div >
            <div class="form-row" >
              <div class="form-group  col-md-6 p-2" >
                <label class="text-muted" for="state" >State</label >
                <input
                  [ngClass]="{
                    'is-invalid': f.state.touched && f.state.invalid,
                    'is-valid': f.state.touched && f.state.valid
                  }"
                  class="form-control"
                  formControlName="state"
                  id="state"
                  placeholder="State"
                  type="text"
                >
                <div *ngIf="f.state.errors" class="invalid-feedback" >
                  <div *ngIf="f.state.errors.required" >
                    {{ validationMessages.state[0].message}}
                  </div >
                  <div *ngIf="f.state.errors.minlength" >
                    {{ validationMessages.state[1].message}}
                  </div >
                </div >
              </div >
              <div class="form-group col-md-6 p-2" >
                <label class="text-muted" for="city" >City</label >
                <input
                  [ngClass]="{
                    'is-invalid': f.city.touched && f.city.invalid,
                    'is-valid': f.city.touched && f.city.valid
                  }"
                  class="form-control"
                  formControlName="city"
                  id="city"
                  placeholder="City"
                  type="text"
                >
                <div *ngIf="f.city.errors" class="invalid-feedback" >
                  <div *ngIf="f.city.errors.required" >
                    {{ validationMessages.city[0].message}}
                  </div >
                  <div *ngIf="f.city.errors.minlength" >
                    {{ validationMessages.city[1].message}}
                  </div >
                </div >
              </div >
              <div class="form-group col-md-6 p-2" >
                <label class="text-muted" for="street" >Street</label >
                <input
                  [ngClass]="{
                    'is-invalid': f.street.touched && f.street.invalid,
                    'is-valid': f.street.touched && f.street.valid
                  }"
                  class="form-control"
                  formControlName="street"
                  id="street"
                  placeholder="Street Address"
                  type="text"
                >
                <div *ngIf="f.street.errors" class="invalid-feedback" >
                  <div *ngIf="f.street.errors.required" >
                    {{ validationMessages.street[0].message}}
                  </div >
                  <div *ngIf="f.street.errors.minlength" >
                    {{ validationMessages.street[1].message}}
                  </div >
                </div >
              </div >
            </div >
            <div class="form-group" >
              <button [disabled]="companyDetailForm.invalid && loading"
                      class="btn btn-primary btn-form btn-form-blue float-right"
                      type="submit" >
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1" ></span >
                Proceed
              </button >
            </div >
          </form >
        </div >
      </div >
      <div class="col-md-3 col-sm-6" >
        <div class="card" >
          <img alt="Card image" class="card-img"
               src="https://res.cloudinary.com/landville/image/upload/v1564556682/FRONTEND_ASSETS/IMAGES/cwl36cyiyiqijanli8hf.jpg" >
        </div >
      </div >
    </div >
  </div >
</section >
