<div class="container" >
  <div class="row mt-5" >
    <div class="col-md-3" ></div >
    <div class="col-md-6" >
      <img alt="landville-logo" class="img-fluid align-middle center" height="95" src="assets/img/ICON/Logo.png"
           width="150" />
      <h1 class="text-center" >
        Forgot your password?
      </h1 >
      <p class="text-center" >
        Enter your email address below and we'll get you back on track.
      </p >
      <form (ngSubmit)="onSubmit()" [formGroup]="resetForm" >
        <div
          [ngClass]="{'has-error': resetForm.get('email').errors && (resetForm.get('email').touched || resetForm.get('email').dirty)}"
          class="form-group" >
          <input class="form-control" formControlName="email" placeholder="email address" >
          <span *ngIf="resetForm.touched && resetForm.get('email').errors && resetForm.get('email').errors.required"
                class="text-danger" >
            Email is required
          </span >
          <span *ngIf="resetForm.get('email').value && resetForm.invalid && resetForm.dirty" class="text-danger" >
            Enter valid email address
          </span >
          <br />
        </div >
        <div >
          <button [disabled]="disabled" [ngClass]="{'disabled' : disabled}" class="center" type="submit" >
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1" ></span >
            Submit
          </button >
          <button [routerLink]="['/login']" class="center" id="back" >Back to Login</button >
        </div >
      </form >
    </div >
  </div >
</div >
