.parent {
    text-align: center;
    font-size: 16px;
    margin-top: 15%;
    color: #434C5F;
    display: block;
}
input{

    display: block;
    margin: 20px auto 0px auto;
    border: 1px solid #D4D9E2;
    padding: 20px;
    border-radius: 3px;
    color: #596377;
    font-size: 14px;
    width: 40%;
}

button {
    margin: 0px auto 20px auto;
    border-radius: 100px;
    padding: 0 60px;
    height: 50px;
    color: #fff;
    background: #ed9917;
    outline: none;
    font-size : 14px;
}
a {
    color: #596377;
}
span p{
    margin-top: -15px;
}
.form-group {
    margin-bottom: 0px;
}
