<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/HouseBG.jpg');">
  <div class="filter"></div>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="home">
      <img class="logo" alt="logo" src="./assets/img/icons/logo.png">
    </a>

    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Properties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="register">Register</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="motto text-center">
      <h1 style="font-weight: lighter">Hello!</h1>
      <h2 style="font-weight: lighter; color: white; font-size: 2rem">Welcome to LandVille.</h2>
    </div>
    <div class="row">
      <div class="col-md-12 mr-auto ml-auto">
        <form class="search-form">
          <div class="row">
            <div class="col-md-4">
              <label class="sr-only">Keyword</label>
              <div class="input-group">
                <input type="text" class="form-control" name="keywords"
                  placeholder="Keyword ( Street Name, Address, ... )">
              </div>
            </div>
            <div class="col-md-4">
              <label class="sr-only">City</label>
              <div class="input-group">
                <input type="text" class="form-control" name="City" placeholder="City">
              </div>
            </div>
            <div class="col-md-4">
              <label class="sr-only">State</label>
              <div class="input-group">
                <input type="text" class="form-control" name="State" placeholder="State">
              </div>
            </div>
            <div class="col-md-4">
              <label class="sr-only">Manimum Price</label>
              <div class="input-group">
                <input type="text" class="form-control" name="Manimum Price" placeholder="Manimum Price">
              </div>
            </div>
            <div class="col-md-4">
              <label class="sr-only">Maximum Price</label>
              <div class="input-group">
                <input type="text" class="form-control" name="Maximum Price" placeholder="Maximum Price">
              </div>
            </div>
            <div class="col-md-4">
              <label class="sr-only">Bedrooms</label>
              <select name="bedrooms" class="form-control">
                <option selected="true" disabled="disabled">Number of Bedrooms</option>
                <option>1 Bedroom</option>
                <option>2 Bedrooms</option>
                <option>3 Bedrooms</option>
              </select>
            </div>
            <div class="col-md-4">
              <button class="btn btn-warning" style="font-weight: 500" type="submit">Search</button>
            </div>
          </div>
        </form>
        <br>
      </div>
    </div>

  </div>
  <div class="container" style="margin-top: 10%; color: white;">
    <div class="motto text-center">
      <i class="fa fa-arrow" aria-hidden="true"></i>
    </div>
  </div>
</div>

<div class="section section-dark text-center">
  <div class="section section-dark text-center" style="background-color: #e7e8ed">
    <div class="container">
      <br>
      <h1 class="title" style="color: black; font-weight: lighter; font-size: 2.8rem">Trending Properties</h1>
      <hr class="br-line">
      <br>
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 100%;">
            <img class="card-img-top" style="width: 100%;" src="./assets/img/House Architecture 4.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">House Title</h5>
              <p class="card-text">Some quick example text to build on the house title and make up the bulk of the
                card's
                content.</p>
              <a href="#link"><button class="btn btn-warning" style="font-weight: 500">View</button></a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 100%;">
            <img class="card-img-top" style="width: 100%;" src="./assets/img/House Architecture 5.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">House Title</h5>
              <p class="card-text">Some quick example text to build on the house title and make up the bulk of the
                card's
                content.</p>
              <a href="#link"><button class="btn btn-warning" style="font-weight: 500">View</button></a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 100%;">
            <img class="card-img-top" style="width: 100%;" src="./assets/img/House Architecture 6.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">House Title</h5>
              <p class="card-text">Some quick example text to build on the house title and make up the bulk of the
                card's
                content.</p>
              <a href="#link"><button class="btn btn-warning" style="font-weight: 500">View</button></a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 100%;">
            <img class="card-img-top" style="width: 100%;" src="./assets/img/House Architecture 7.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">House Title</h5>
              <p class="card-text">Some quick example text to build on the house title and make up the bulk of the
                card's
                content.</p>
              <a href="#link"><button class="btn btn-warning" style="font-weight: 500">View</button></a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 100%;">
            <img class="card-img-top" style="width: 100%;" src="./assets/img/House Architecture 8.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">House Title</h5>
              <p class="card-text">Some quick example text to build on the house title and make up the bulk of the
                card's
                content.</p>
              <a href="#link"><button class="btn btn-warning" style="font-weight: 500">View</button></a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 100%;">
            <img class="card-img-top" style="width: 100%;" src="./assets/img/House Architecture 9.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">House Title</h5>
              <p class="card-text">Some quick example text to build on the house title and make up the bulk of the
                card's
                content.</p>
              <a href="#link"><button class="btn btn-warning" style="font-weight: 500">View</button></a>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>

<div class="main">
  <div class="section text-center">
    <div class="container">
      <br>
      <h1 class="title" style="color: black; font-weight: lighter; font-size: 2.8rem">What We Offer</h1>
      <hr class="br-line">
      <br>
      <div class="row">
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-album-2"></i>
            </div>
            <div class="description">
              <h5 class="info-title" style="font-weight: bold; color: black;">Authentic Propeties</h5>
              <p style="color: black;">Only verified propeties are available on Landville</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-bulb-63"></i>
            </div>
            <div class="description">
              <h5 class="info-title" style="font-weight: bold; color: black;">Great Financial Plan</h5>
              <p style="color: black;">Landville offers a flexible payment plan to help you acquire your desired
                property</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-chart-bar-32"></i>
            </div>
            <div class="description">
              <h5 class="info-title" style="font-weight: bold; color: black;">Excellent Customer Relation</h5>
              <p style="color: black;">Landville ensures ou get the best by providing personnel that would
                meaningfully engage you till you
                acquireyour dream property</p>
            </div>
          </div>
        </div>
        <div class="col-md-8 mr-auto ml-auto">
          <br>
          <a href="about"><button class="btn btn-warning" style="font-weight: 500">More Details</button></a>
        </div>
      </div>
      <br>
    </div>

    <div class="section section-dark text-center" style="background-color: #e7e8ed">
      <div class="container">
        <br>
        <h1 class="title" style="font-weight: lighter; font-size: 2.8rem; color: black;">Meet The Team</h1>
        <hr class="br-line">
        <br>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-profile card-plain" style="background-color: transparent; border-color: transparent;">
              <div class="card card-profile card-plain">

                <div class="card-avatar">
                  <a href="#avatar"><img src="./assets/img/profile.png" alt="profile"></a>
                </div>
                <div class="card-block">
                  <a href="#">
                    <div class="author" style="color: black;">
                      <h4 class="card-title" style="font-weight: lighter">Eyitato Ogumola</h4>
                      <h5 class="card-category" style="font-weight: bold">CEO</h5>
                    </div>
                  </a>
                  <div class="card-body">
                    <p class="card-description text-justify" style="font-weight: lighter; color: black;">
                      Teamwork is so important that it is virtually impossible for you to reach the heights of your
                      capabilities or make the money that you want without becoming very good at it. silence isn’t
                      golden, it’s deadly.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-profile card-plain" style="background-color: transparent; border-color: transparent;">
              <div class="card card-profile card-plain">
                <div class="card-avatar">
                  <a href="#avatar"><img src="./assets/img/profile.png" alt="..."></a>
                </div>
                <div class="card-block">
                  <a href="#">
                    <div class="author" style="color: black;">
                      <h4 class="card-title" style="font-weight: lighter">Eyitato Ogumola</h4>
                      <h5 class="card-category" style="font-weight: bold">CEO</h5>
                    </div>
                  </a>
                  <div class="card-body">
                    <p class="card-description text-justify" style="font-weight: lighter; color: black;">
                      A group becomes a team when each member is sure enough of himself and his contribution to praise
                      the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-profile card-plain" style="background-color: transparent; border-color: transparent;">
              <div class="card card-profile card-plain">
                <div class="card-avatar">
                  <a href="#avatar"><img src="./assets/img/profile.png" alt="profile"></a>
                </div>
                <div class="card-block">
                  <a href="#">
                    <div class="author" style="color: black;">
                      <h4 class="card-title" style="font-weight: lighter">Eyitato Ogumola</h4>
                      <h5 class="card-category" style="font-weight: bold">CEO</h5>
                    </div>
                  </a>
                  <div class="card-body">
                    <p class="card-description text-justify" style="font-weight: lighter; color: black;">
                      The strength of the team is each individual member. The strength of each member is the team. If
                      you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
      </div>
    </div>

    <br>

    <div class="section landing-section">
      <div class="section section-dark text-center">
        <div class="container">
          <h1 class="text-center" style="color: black; font-weight: lighter; font-size: 2.8rem">Talk To Us</h1>
          <hr class="br-line">
          <br>
          <div class="row">
            <div class="col-md-12 mr-auto ml-auto">
              <form class="search-form">
                <div class="row">
                  <div class="col-md-4">
                    <label class="sr-only">Keyword</label>
                    <div class="input-group">
                      <input type="text" class="form-control" name="keywords"
                        placeholder="Keyword ( Street Name, Address, ... )">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label class="sr-only">City</label>
                    <div class="input-group">
                      <input type="text" class="form-control" name="City" placeholder="City">
                    </div>
                  </div>
                  <textarea class="form-control" rows="4"
                    placeholder="Tell us your thoughts and feelings..."></textarea>
                  <div class="col-md-4">
                    <button class="btn btn-warning" style="font-weight: 500" type="submit">Send</button>
                  </div>
                </div>
              </form>
              <br>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
              <form class="contact-form" action="mailto:sample@email.com?subject=Website Feedback" method="POST"
                enctype="text/plain">
                <div class="row">
                  <div class="col-md-6">
                    <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                      <input type="text" class="form-control" placeholder="Name" (focus)="focus=true"
                        (blur)="focus=false">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                      <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true"
                        (blur)="focus1=false">
                    </div>
                  </div>
                  <br>
                  <br>
                </div>
                <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                <div class="row">
                  <div class="col-md-3 ml-auto">
                    <br>
                    <button class="btn btn-warning" style="font-weight: 500" type="submit">Send</button>
                  </div>
                </div>
              </form>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>