<!-- <div class="page-header" data-parallax="true" style="background-image: url('./assets/img/HouseBG.jpg');">
  <div class="filter"></div>
  <nav class="navbar navbar-expand-lg navbar-transparent">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img class="logo" alt="logo" src="./assets/img/icons/logo.png">
      </a>
    </div>
  </nav>

  <div class="container">
    <div class="motto text-center">
      <br>
      <br>
      <br>
      <h1 style="font-weight: lighter">Hello!,</h1>
      <h1 style="font-weight: lighter; color: white;">Welcome to LandVille.</h1>
    </div>
  </div>
  <div class="container" style="margin-top: 13%; color: white;">
    <div class="motto text-center">
      <h4 style="font-weight: 300">We are here to make property investing easy for all</h4>
      <button class="btn btn-warning" style="font-weight: 500">Get Started</button> &nbsp;
      <button class="btn btn-warning" style="font-weight: 500">Login</button>
    </div>
  </div>
</div> -->
<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/HouseBG.jpg');">
  <div class="filter"></div>
  <nav class="navbar navbar-expand-lg navbar-transparent">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img class="logo" alt="logo" src="./assets/img/icons/logo.png">
      </a>
    </div>
  </nav>
  <div class="container">
    <div class="motto text-center">
      <h1 style="font-weight: lighter">Hello!,</h1>
      <h2 style="font-weight: lighter; color: white; font-size: 3rem">Welcome to LandVille.</h2>
    </div>
  </div>
  <div class="container" style="margin-top: 17%; margin-bottom: 17%; color: white;">
    <div class="motto text-center">
      <h4 style="font-weight: 300">We are here to make property investing easy for all</h4>
      <button class="btn btn-warning" style="font-weight: 500">Get Started</button> &nbsp;
      <button class="btn btn-warning" style="font-weight: 500">Login</button>
    </div>
  </div>
</div>

<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <br>
          <br>
          <h1 class="title" style="color: black;font-weight: lighter">What We Offer</h1>
        </div>
      </div>
      <br /><br />
      <div class="row">
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-album-2"></i>
            </div>
            <div class="description">
              <h5 class="info-title" style="font-weight: bold">Authentic Propeties</h5>
              <p>Only verified propeties are available on Landville</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-bulb-63"></i>
            </div>
            <div class="description">
              <h5 class="info-title" style="font-weight: bold">Great Financial Plan</h5>
              <p>Landville offers a flexible payment plan to help you acquire your desired property</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-chart-bar-32"></i>
            </div>
            <div class="description">
              <h5 class="info-title" style="font-weight: bold">Excellent Customer Relation</h5>
              <p>Landville ensures ou get the best by providing personnel that would meaningfully engage you till you
                acquireyour dream property</p>
            </div>
          </div>
        </div>
        <div class="col-md-8 mr-auto ml-auto">
          <br>
          <button class="btn btn-warning" style="font-weight: 500">More Details</button>
        </div>
        <br>
        <br>
      </div>
    </div>

    <br>
    <br>

    <div class="section section-dark text-center" style="background-color: #171039">
      <div class="container">
        <br>
        <br>
        <h1 class="title" style="font-weight: lighter">Meet The Team</h1>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-profile card-plain" style="background-color: transparent; border-color: transparent;">
              <div class="card-avatar">
                <a href="#avatar"><img src="./assets/img/profile.png" alt="profile"></a>
              </div>
              <div class="card-block">
                <a href="#paper-kit">
                  <div class="author" style="color: white;">
                    <h4 class="card-title" style="font-weight: lighter">Eyitato Ogumola</h4>
                    <h5 class="card-category" style="font-weight: bold">CEO</h5>
                  </div>
                </a>
                <br>
                <p class="card-description text-center" style="font-weight: lighter; color: white;">
                  Teamwork is so important that it is virtually impossible for you to reach the heights of your
                  capabilities or make the money that you want without becoming very good at it.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-profile card-plain" style="background-color: transparent; border-color: transparent;">
              <div class="card-avatar">
                <a href="#avatar"><img src="./assets/img/profile.png" alt="..."></a>
              </div>
              <div class="card-block">
                <a href="#paper-kit">
                  <div class="author" style="color: white;">
                    <h4 class="card-title" style="font-weight: lighter">Eyitato Ogumola</h4>
                    <h5 class="card-category" style="font-weight: bold">CEO</h5>
                  </div>
                </a>
                <br>
                <p class="card-description text-center" style="font-weight: lighter; color: white;">
                  A group becomes a team when each member is sure enough of himself and his contribution to praise the
                  skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-profile card-plain" style="background-color: transparent; border-color: transparent;">
              <div class="card-avatar">
                <a href="#avatar"><img src="./assets/img/profile.png" alt="..."></a>
              </div>
              <div class="card-block">
                <a href="#paper-kit">
                  <div class="author" style="color: white;">
                    <h4 class="card-title" style="font-weight: lighter">Eyitato Ogumola</h4>
                    <h5 class="card-category" style="font-weight: bold">CEO</h5>
                  </div>
                </a>
                <br>
                <p class="card-description text-center" style="font-weight: lighter; color: white;">
                  The strength of the team is each individual member. The strength of each member is the team. If you
                  can laugh together, you can work together, silence isn’t golden, it’s deadly.
                </p>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
      </div>
    </div>

    <br>
    <br>

    <div class="section landing-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
            <h1 class="text-center" style="color: black;font-weight: lighter">Talk To Us</h1>
            <form class="contact-form">
              <div class="row">
                <div class="col-md-6">
                  <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true"
                      (blur)="focus=false">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true"
                      (blur)="focus1=false">
                  </div>
                </div>
                <br>
                <br>
              </div>
              <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
              <div class="row">
                <div class="col-md-4 ml-auto">
                  <br>
                  <button class="btn btn-warning" style="font-weight: 500">Send</button>
                </div>
              </div>
            </form>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>