.btn {
    width: 8rem;
    border-radius: 0;
}

img {
    width: 10rem;
    height: 10rem;
}

.h1, h1 {
    font-size: 4rem;
    color: whitesmoke;
}

.logo {
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 1rem;
}

.page-header {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

hr.br-line {
    background: linear-gradient(to right, var(--color-primary) 25%, var(--color-primary-dark) 75%);
    padding: 0.50px;
    margin-left: 35%;
    margin-right:35%;
    width: 30%;
  
  }
  