<div class="" [ngClass]="{ card: !isProfile, card2: isProfile }">
  <img
    [ngClass]="{ card2Picture: isProfile, imgFluid: !isProfile }"
    class="card-img-top "
    [src]="imageMain"
    alt="Card image cap"
  />
  <div class="card-body">
    <h4>
      <b
        ><a
          [ngClass]="{ card2Title: isProfile, cardTitle: !isProfile }"
          routerLink="/#"
          routerLinkActive="active"
          >{{ title }}</a
        ></b
      >
    </h4>
    <p
      [ngClass]="{ cardDetails: isProfile, gridCard: !isProfile }"
      class="card-text"
    >
      <img alt="" src="assets/img/marker.svg" [style.width.px]="10" />
      {{ street }}, {{ city }}
    </p>
    <div [ngClass]="{ cardPrice: isProfile, price: !isProfile }" class="price">
      <b>&#8358; {{ price }}</b>
    </div>
  </div>
</div>
