<div class="card bg-light">
  <div class="" [ngClass]="{ hovereffect: isMine, hidden: !isMine }">
    <img
      class="card-img-top img-fluid"
      [src]="imageMain"
      alt="Card image cap"
    />
    <div class="" [ngClass]="{ overlay: isMine, hides: !isMine }">
      <h2><a [routerLink]="['/properties', slug]">View</a></h2>
      <p>
        <a [routerLink]="['/update', slug]">Update</a>
      </p>
    </div>
  </div>
  <div class="card-body">
    <h4>
      <b>
        <a class="card-title">{{
          title
        }}</a></b>

    </h4>
    <div class="card-text grid-card">
      <img alt="" src="assets/img/marker.svg" [style.width.px]="10" />
      {{ street }}, {{ city }}
    </div>
    <div class="price">
      <b>&#8358; {{ price }}</b>
    </div>
  </div>
</div>

