<div class="card profile-sidebar-upper">
  <div class="profile-image-container">
    <img
      class="card-img-top img-fluid rounded-circle"
      [src]="profileImage"
      alt="Profile Image"
    />
    <div class="overlay">
      <input
        type="file"
        name="profileImageInput"
        class="image-input"
        #imageInput
        (change)="updateImage($event)"
      />
      <p class="info" (click)="imageInput.click()">Update Image</p>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title text-center">{{ firstName }} {{ lastName }}</h5>
    <h6 class="card-text text-center">{{ userRole }}</h6>
    <br />
    <hr />
    <p *ngIf="!addressSet" class="card-text text-center">
      Please provide your address information...
    </p>
    <p *ngIf="addressSet" class="card-text text-center">
      {{ address.City }}, Nigeria
    </p>
  </div>
</div>

<div class="card profile-sidebar-lower">
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="levelDropdownButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      LEVEL
    </button>
    <div class="dropdown-menu" aria-labelledby="levelDropdownButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
    <div class="card-text">
      <p class="text-rotate">Placeholder</p>
    </div>
  </div>
</div>
