.profile {
  &-sidebar {
    &-upper {
      background-color: #f2f3f5;
    }
    &-image {
      width: 70%;
      height: 90%;
      overflow: hidden;
      position: relative;
      text-align: center;
    }
    &-lower {
      height: 35rem;
      background-color: #f2f3f5;
      margin-top: 15%;
      text-align: center;
    }
  }
  &-image {
    &-container {
      text-align: center;
      margin: auto;
      margin-top: 5%;
      width: 75%;
      display: flex;
      overflow: hidden;
      position: relative;
      text-align: center;
    }
  }
}

.profile-image-container .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.profile-image-container img {
  display: block;
  position: relative;
}

p.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  margin: 0.1rem 0 0 0;
  background-color: transparent;
  text-align: center;
  font-weight: 500;
}

.info {
  display: flex;
  align-self: center;
  cursor: pointer;
  &:hover {
    color: var(--color-primary-light);
  }
}

.image-input {
  visibility: hidden;
}

.profile-sidebar-lower h3 {
  padding-top: 20px;
}
.text-rotate {
  transform: rotate(45deg);
  font-size: xx-large;
  margin-top: 10rem;
}
#levelDropdownButton {
  width: 100%;
  text-align: left;
  border-radius: initial;
  background-color: #f2f3f5;
  color: black;
  font-weight: 500;
}
