<div class="card profile-sidebar-upper">
  <div class="profile-image-container">
    <img
      class="card-img-top img-fluid rounded-circle"
      [src]="profileImage"
      alt="Profile Image"
    />
    <div class="overlay">
      <input
        type="file"
        name="profileImageInput"
        class="image-input"
        #imageInput
        (change)="updateImage($event)"
      />
      <a class="info" href="#" (click)="imageInput.click()">Update Image</a>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title text-center">{{ firstName }} {{ lastName }}</h5>
    <h6 class="card-text text-center">{{ userRole }}</h6>
    <br />
    <hr />
    <p *ngIf="!addressSet" class="card-text text-center">
      Please provide your address information...
    </p>
    <p *ngIf="addressSet" class="card-text text-center">
      {{ address.City }}, Nigeria
    </p>
  </div>
</div>
