<div class="card profile-sidebar-upper profile-card">
  <div class="profile-image-container">
    <ngx-spinner></ngx-spinner>

    <img
      class="card-img-top img-fluid rounded-circle profile-image"
      [src]="profileImage"
      alt="Profile Image"
    />

    <div class="overlay">
      <input
        type="file"
        accept="image/*"
        name="profileImageInput"
        class="image-input"
        #imageInput
        (change)="updateImage($event)"
      />
    </div>
  </div>
  <p class="info" (click)="imageInput.click()">
    <i class="fas fa-pen"></i> Update Image
  </p>

  <div class="card-body">
    <h5 class="card-title text-center">{{ firstName }} {{ lastName }}</h5>
    <h6 class="card-text text-center">{{ userRole | roleTransform }}</h6>
    <br />
    <hr />
    <p *ngIf="!addressSet" class="card-text text-center">
      Please provide your address information...
    </p>
    <p *ngIf="addressSet" class="card-text text-center">
      {{ address.City }}, Nigeria
    </p>
  </div>
</div>

<div class="card mt-4 profile-sidebar-lower profile-card">
  <button
    class="btn btn-profile-level"
    type="button"
    data-toggle="collapse"
    data-target="#collapseExample"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    LEVEL
    <i class="fa fa-caret-down custom-caret-down"></i>
  </button>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <div class="card-text">
        <p>Placeholder</p>
      </div>
    </div>
  </div>
</div>
