.btn-primary {
    font-size: small;
    color: #fff !important;
    background-color: #ee9619 !important;
    border-radius: 45px;
    border-color:#ee9619 !important;
}
video{
    outline:none;
}
.buttons {
    color: aliceblue;
    background-color:#ee9619; 
    float: right;
    border-style: hidden;
    padding: inherit;
    outline:none;
}
