<div class='login-slider' >
  <div >
    <div class="carousel" >
      <ul class="slides" >
        <input checked id="img-1" name="radio-buttons" type="radio" />
        <li class="slide-container" >
          <div class="slide-image" >
            <img src="assets/img/ICON/Login%20Slider%20Image.png" >
          </div >
          <div class="carousel-controls" >
            <label class="prev-slide" for="img-3" >
              <span >&lsaquo;</span >
            </label >
            <label class="next-slide" for="img-2" >
              <span >&rsaquo;</span >
            </label >
          </div >
        </li >
        
        <input id="img-2" name="radio-buttons" type="radio" />
        <li class="slide-container" >
          <div class="slide-image" >
            <img src="assets/img/ICON/Login%20Slider%20Image.png" >
          </div >
          <div class="carousel-controls" >
            <label class="prev-slide" for="img-1" >
              <span >&lsaquo;</span >
            </label >
            <label class="next-slide" for="img-3" >
              <span >&rsaquo;</span >
            </label >
          </div >
        </li >
        <input id="img-3" name="radio-buttons" type="radio" />
        <li class="slide-container" >
          <div class="slide-image" >
            <img src="assets/img/ICON/Login%20Slider%20Image.png" >
          </div >
          <div class="carousel-controls" >
            <label class="prev-slide" for="img-2" >
              <span >&lsaquo;</span >
            </label >
            <label class="next-slide" for="img-1" >
              <span >&rsaquo;</span >
            </label >
          </div >
        </li >
        <div class="carousel-dots" >
          
          <label class="carousel-dot" for="img-1" id="img-dot-1" ></label >
          <label class="carousel-dot" for="img-2" id="img-dot-2" ></label >
          <label class="carousel-dot" for="img-3" id="img-dot-3" ></label >
        </div >
      </ul >
    </div >
  </div >

</div >
