<p class="text-center mt-3">Or</p>
<div class="row">
  <div class="col">
    <div class="fb-login-button facebook mt-1" data-width="" data-size="large" data-button-type="login_with"
      data-auto-logout-link="false" data-use-continue-as="false" (click)="signInWithFB()"></div>
  </div>
  <div class="col"> <img src="../../../../assets/btn_google_signin_dark_normal_web.png" class="google"
                         (click)="signInWithGoogle()" alt="" srcset=""> </div>
</div>
<ngx-spinner></ngx-spinner>
