<div class="container">
  <div class="payment-form">
    <div class="heading">Pay with International Card</div>
    <div class="container">
      <div>
        Card Number:
      </div>
      <input class="form-control" />
      <div>
        CVV Number:
      </div>
      <input class="form-control" />
      <div>
        Card Expiry:
      </div>
      <div>
        <input class="form-control left" placeholder="month" />
        <input class="form-control right" placeholder="year" />
      </div>
      <div>
        Amount:
      </div>
      <input class="form-control" />
      <div>
        Billing zip:
      </div>
      <input class="form-control" />
      <div>
        Billing City:
      </div>
      <input class="form-control" />
      <div>
        Billing Address:
      </div>
      <input class="form-control" />
      <div>
        Billing State:
      </div>
      <input class="form-control" />
      <div>
        Billing Country:
      </div>
      <input class="form-control" />
      <input type="button" class="btn btn-secondary" value="Back" />
      <input type="button" class="btn btn-primary" value="Submit" />
    </div>
  </div>
</div>
