<div class="container">
  <form
    class="payment-form"
    [formGroup]="form"
    (ngSubmit)="onSubmitPaymentDetails(form)"
  >
    <div class="heading">Pay with International Card</div>
    <div class="container">
      <div>
        Card Number:
      </div>
      <input formControlName="cardno" class="form-control" type="number" />
      <div>
        CVV Number:
      </div>
      <input formControlName="cvv" class="form-control" />
      <div>
        Card Expiry:
      </div>
      <div>
        <input
          formControlName="expirymonth"
          class="form-control left"
          placeholder="month"
        />
        <input
          formControlName="expiryyear"
          class="form-control right"
          placeholder="year"
        />
      </div>
      <div>
        Amount:
      </div>
      <input formControlName="amount" class="form-control" />
      <div>
        Billing zip:
      </div>
      <input formControlName="billingzip" class="form-control" />
      <div>
        Billing City:
      </div>
      <input formControlName="billingcity" class="form-control" />
      <div>
        Billing Address:
      </div>
      <input formControlName="billingaddress" class="form-control" />
      <div>
        Billing State:
      </div>
      <input formControlName="billingstate" class="form-control" />
      <div>
        Billing Country:
      </div>
      <input formControlName="billingcountry" class="form-control" />
      <input type="button" class="btn btn-secondary" value="Back" />
      <input type="submit" class="btn btn-primary" value="Submit" />
    </div>
  </form>
</div>
