#topbar {
  background: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px;

  & .contact-info {
    & a {
      line-height: 1;
      color: #555;

      &:hover {
        color: var(--color-primary-light);
      }
    }

    & i {
      color: var(--color-primary-light);
      padding: 4px;
    }

    & .fa-phone {
      padding-left: 20px;
      margin-left: 20px;
      border-left: 1px solid #e9e9e9;
    }
  }

  & .social-links {

    & a {
      color: #555;
      padding: 4px 12px;
      display: inline-block;
      line-height: 1px;
      border-left: 1px solid #e9e9e9;

      &:hover {
        color: var(--color-primary-light);
      }

      &:first-child {
        border-left: 0;
      }
    }
  }
}

