@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';
@import '~ngx-toastr/toastr';
@import '../node_modules/ngx-toastr/toastr.css';
@import '~ng-pick-datetime/assets/style/picker.min.css';
