.left-section h4 {
  color: grey;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}



.custom-select {
  height: 3rem;
}

p a.sign-link {
  color: #FFA500;
  display: inline;
  background: none;
  padding: 0px;
  font-size: 17px;
}

.right-details {
  overflow: auto;
  margin: 10px 0px 30px 0px;
}

.right-details img {
  width: 50px;
  float: left;
}

.more-info {
  padding-left: 20px;
  float: left;
  width: 70%;
}

.more-info h4 {
  margin: 0px;
  font-size: 17px;
}

.more-info p {
  color: grey;
}

.form-check-label {
  color: grey;
<<<<<<< HEAD
}

@media (max-width:641px) {
  .first {
    display: none;
  }
}

button[type="submit"] {
  color: white;
  background: #171029;
}


.form-check-label{
  color: grey !important;
}
.form-check-input{
  margin:-12px -20px;
=======
}

@media (max-width:641px) {
  .first {
    display: none;
  }
>>>>>>> ft(terms): Enable users to activate terms of use on registration
}

button[type="submit"] {
  color: white;
  background: #171029;
}
