<div class="container">
  <div class="row">
    <div class="col-md-8">
      <app-property-detail [title]="title" [street]="street" [state]="state" [city]="city" [price]="price"
                           [imageMain]="imageMain" [imageOthers]="imageOthers" [bathrooms]="bathrooms" [garages]="garages"
                           [bedrooms]="bedrooms" [ifBuilding]="ifBuilding">

      </app-property-detail>

      <div class="about">
        <app-property-description [createdAt]="createdAt" [lotSize]="lotSize" [description]="description"
                                  [video]="video" [ifVideo]="ifVideo" [purchasePlan]="purchasePlan"></app-property-description>
      </div>

    </div>
    <div class="col-md-4">
      <div class="card mt-5 text-center">
        <app-client-admin [clientName]="clientName" [clientStreet]="clientStreet"
                          [clientState]="clientState" [clientCity]="clientCity" [phone]="phone" [email]="email">
        </app-client-admin>
      </div>
      <img alt="Card image" class="card-img mt-5" src="assets/img/designs/Design.jpg">
    </div>
  </div>
  <ngx-spinner></ngx-spinner>
</div>
