
.image-container{
  display: flex;
  justify-content: center;
}
.landvile-logo{
  width: 130px;
  height: 100px;
}
.title{
  text-align: center;
  color: grey;
}
.title h4{
  margin: 60px 0px 20px 0px;
}
.information{
  overflow: auto;
  margin-top: 70px;
}
.left-section{
  float: left;
  width: 40%;
}
.left-section h4{
  color: grey;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}
.left-section .input-wrap{
  display: block;
  width: 100%;
  padding: 15px;
 
}
.left-section .input-wrap img{
  width: 27px;
}
.left-section .input-wrap:nth-child(4n) img, .left-section .input-wrap:nth-child(4n) img{
  width: 15px;
}
.left-section button{
  background: #FFA500;
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  color: black;
  margin: 30px auto;
  text-decoration: none;
}
.left-section p{
  text-align: center;
}
.left-section .input-wrap input{
  height: 3rem;
  // margin: 0 2rem 1rem 2rem;
  border-radius: 4px;
  background-color: white;
  width: 400px;
}
.email, .password,.name {
  height: inherit;
  font-size: 20px;
  // text-align: center; 
  padding: 30px;
  padding-top: 15px;
  margin-right: 20px;
  margin-left: 9px;
}
.role {
  height: inherit;
  font-size: 20px;
}


.email:focus, .password:focus {
  outline: none;
}
.social-media{
  overflow: auto;
  margin-top: 30px;
}
.social-media span{
  float: left;
  width: 43%;
}
.social-media span img{
  width: 100%;
}
.social-media span:nth-child(2n){
  float: right;
}
p.login-para{
  font-size: 18px;
  margin-top: 30px;
}
p a.sign-link{
  color: #FFA500;
  display: inline;
  background: none;
  padding: 0px;
  font-size: 17px;
}
.right-section{
  float: left;
  width: 60%;
  padding-left: 70px;
  padding-top: 50px;
}
.right-details{
  overflow: auto;
  margin: 10px 0px 30px 0px;
}
.right-details img{
  width: 50px;
  float: left;
}
.more-info{
  padding-left: 20px;
  float: left;
  width: 70%;
}
.more-info h4{
  margin: 0px;
  font-size: 17px;
}
.more-info p{
  color: grey;
}
.qoute{
  padding-left: 60px;
  margin-top: 80px;
  color: grey;
  font-style: italic;
}
.right-section hr{
  margin-left: 60px;
}
.qoute span{
  font-style: normal;
  font-weight: bold;
  color: black;
}
.input-icons i { 
  position: absolute; 
} 

.input-icons { 
  width: 100%; 
  margin-bottom: 10px; 
} 

.icon { 
  padding: 10px; 
  color: black; 
  min-width: 50px; 
  text-align: center; 
} 