   <div class="container">
     <div class="details">
      <div class="information">
        <div class="left-section">
          <h4>Create a free account today!</h4>
          <form (ngSubmit)="onSubmit()">
          <div class="input-wrap">
            <img src="../../../assets/images/ICON/Email.png" />
            <input type="text" [(ngModel)]="email" name="email" placeholder="Email address" required/>
          </div>  
          <div class="input-wrap">
              <input name="first_name" placeholder="First Name" type='text' [(ngModel)]="first_name" required /> 
            </div>  
            <div class="input-wrap">
                <input name="last_name" placeholder="Last Name" type='text' [(ngModel)]="last_name" required/> 
              </div>        

      <div class="input-wrap">
              <select class="input-wrap" name="role" [(ngModel)]="role">
                  <option [ngValue]="undefined" disabled selected>Select a role</option>
                   <option value="CA">Client Admin</option>
                  <option value="BY">Buyer</option> 
              </select> 
            </div>

          <div class="input-wrap">
            <img src="../../../assets/images/ICON/Login.png" />
            <input type="password" [(ngModel)]="password" name="password" placeholder="Create a password" />
          </div>

          <div class="input-wrap">
            <img src="../../../assets/images/ICON/Login.png" />
            <input type="password" [(ngModel)]="confirmed_password" name="confirmed_password" placeholder="Confirm password" />
          </div>

          <button type='Submit'>Create Account</button>
        </form>
          <p class="connect">Or Connect with</p>

          <p class="social-media">
            <span>
              <img src="../../../assets/images/ICON/Facebook.png" />
            </span>
            <span>
              <img src="../../../assets/images/ICON/LinkedIn.png" />
            </span>
          </p>
          <p class="login-para">Already have your account? <a class="sign-link" href="#">Sign in here</a></p>
        </div>
        <div class="right-section">
          <div class="right-details">
            <img src="../../../assets/images/ICON/AuthenticProperty.png" />
            <div class="more-info">
              <h4>Authentic Properties</h4>
              <p>Only verified properties are available on Landville</p>
            </div>
          </div>

          <div class="right-details">
            <img src="../../../assets/images/ICON/FinancialPlans.png" />
            <div class="more-info">
              <h4>Great financial plan</h4>
              <p>Landville offers a flexible payment plan to help you acquire your desired property.</p>
            </div>
          </div>

          <div class="right-details">
            <img src="../../../assets/images/ICON/CustomerRelations.png" />
            <div class="more-info">
              <h4>Excellent Customer Relation</h4>
              <p>Landville ensures you get the best by providing personnel that would meaningfully engage you till you acquire your dream property. </p>
            </div>
          </div>

          <hr />

          <p class="qoute">
            "The wise young man or wage earner of today invests is money in real estate." - 
            <span>Andrew Carnegie</span>
          </p>
        </div>
      </div>
    </div>
  </div>