<div class="container">
<div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-6" >

    <img class="img-fluid align-middle center"  src="../../../assets/images/ICON/Logo.png" alt="landville-logo" width="150" height="95"/>
    <h1 class="text-center">Reset your password</h1>
    <p class="text-center">Please choose a new password to sign in.</p>
    <form [formGroup]="enterPasswordForm" (ngSubmit)="onSubmit()">

        <div class="form-group" [ngClass]="{'has-error': enterPasswordForm.get('newPassword').errors &&
        (enterPasswordForm.get('newPassword').touched || enterPasswordForm.get('newPassword').dirty)}">
        <input formControlName="newPassword" placeholder="Enter new password"
                class="form-control" type="password">
        <span class="help-block" *ngIf="enterPasswordForm.get('newPassword').errors &&
        (enterPasswordForm.get('newPassword').touched || enterPasswordForm.get('newPassword').dirty)">
            <span class="text-danger" *ngIf="enterPasswordForm.get('newPassword').errors && enterPasswordForm.get('newPassword').errors.required">
                Password is required
        </span>
        <span class="text-danger" *ngIf="enterPasswordForm.get('newPassword').errors && enterPasswordForm.get('newPassword').errors.minlength">
                Password should be at least 6 characters
        </span>
    </span><br/>
        </div>
        <div class="form-group" [ngClass]="{'has-error': passwordError}">
        <input formControlName="confirmPassword" placeholder="Confirm new password" 
                class="form-control" type="password"><br>
     
                <p class="text-danger" *ngIf="passwordError">There is a password mismatch</p>
        </div>
        <div>
                <button type="submit" [disabled]="disabled" class="center" [ngClass]="{'disabled' : disabled}">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Submit
                </button>
                <button [routerLink]="['/login']" class="center" id="back" >Back to Login</button>
        </div>
</form>
</div>
</div>
</div>
