.parent {
    text-align: center;
    font-size: 16px;
    margin-top: 10%;
    color: #434C5F;
    display: block;
}
input{

    display: block;
    // margin: 0px auto 0px auto;
    border: 1px solid #D4D9E2;
    padding: 20px;
    border-radius: 3px;
    color: #596377;
    font-size: 14px;
    // width: 40%;
}
form {
    margin-top: 30px;
}

button {
    // margin: 0px auto 20px auto;
    border-radius: 100px;
    padding: 0 60px;
    height: 50px;
    color: #fff;
    background: #ed9917;
    outline: none;
    font-size : 14px;
}
a {
    color: #596377;
}
.form-group {
    margin-bottom: 0px;
}
.help-block {
    margin-bottom: 0px;
}
.text-danger{
    color: #a94442!important;
    // margin-top: -15px;
    // float: left;
}
.disabled {
    background: #e8b360;
}
form {
    margin-top: 15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
